config_opts['plugin_conf']['package_state_enable'] = False
config_opts['plugin_conf']['ccache_enable'] = False
config_opts['dnf_common_opts'] = ['--setopt=install_weak_deps=0']
config_opts['macros']['%bugurl'] = 'https://bugz.fedoraproject.org/%name'
#config_opts['nosync'] = True
#config_opts['nosync_force'] = True
config_opts['environment']['LANG'] = 'C.UTF-8'
config_opts['use_bootstrap'] = True
config_opts['yum_install_command'] += " -x devtoolset*"
config_opts['dnf_warning'] = False
{% if 'runroot' in group_names %}
# We need to set this to get ostree_installer runroot jobs working
# https://bugzilla.redhat.com/show_bug.cgi?id=2123812
config_opts['nspawn_args'] += ['--capability=cap_mac_admin']
# We need to set this to get rpm-ostree unified images working
# https://pagure.io/fedora-infrastructure/issue/11420
config_opts['plugin_conf']['bind_mount_enable'] = True
config_opts['plugin_conf']['bind_mount_opts']['dirs'].append(("/dev/fuse", "/dev/fuse"))
config_opts['nspawn_args'] += ['--bind=/dev/fuse']
{% endif %}
config_opts['dnf_command'] = '/usr/bin/dnf-3'
config_opts['system_dnf_command'] = '/usr/bin/dnf-3'
config_opts['dnf_install_command'] = 'install python3-dnf dnf-plugins-core'
config_opts['use_bootstrap_image'] = False
