---
- name: "call dnf on {{ path }}"
  ansible.builtin.shell: "df '{{ path }}' --output=avail | tail -1"
  register: df
  changed_when: false

- name: "assert {{ path }} has {{ size }} bytes left (has {{ df.stdout }})"
  assert:
    that: "df.stdout|int > size|int"
