---
- name: install enable-swap.service
  copy:
    src: files/enable-swap.service
    dest: /etc/systemd/system/
  register: enable_swap_service

- name: install enable-swap.sh
  copy:
    src: files/enable-swap.sh
    dest: /usr/local/sbin/
    mode: '0755'

- name: enable enable-swap.sh
  service:
    name: enable-swap
    enabled: yes
