---
# This playbook is used on copr hypervisor for preparing qcow2 copr builder
# images.

- name: prepare local VM for creating copr builder image
  hosts: all
  remote_user: root
  gather_facts: false

  vars_files:
    - vars.yml

  vars:
  - updatebuilder: true
  - prepare_base_image: 1
    ansible_python_interpreter: /usr/bin/python3

  tasks:
  - import_tasks: "libdnf5.yml"
  - import_tasks: "create_swap_file.yml"
  - import_tasks: "provision_builder_tasks.yml"
