{% macro load_file(filename) %}{% include filename %}{%- endmacro -%}
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: python-310-custom-builder
  labels:
    app: badges
    build: python-310-custom-builder
spec:
  runPolicy: Serial
  source:
    type: Dockerfile
    dockerfile: |-
      {{ load_file('Dockerfile-builder-image') | indent(6) }}
  strategy:
    type: Docker
    dockerStrategy:
      from:
        kind: ImageStreamTag
        name: python-310:latest
  output:
    to:
      kind: ImageStreamTag
      name: python-310-custom-builder:latest
  triggers:
  - type: ImageChange
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: fedbadges
  labels:
    app: badges
    build: fedbadges
spec:
  runPolicy: Serial
  source:
    type: Git
    git:
      uri: https://github.com/fedora-infra/fedbadges.git
      ref: {{ (env == 'production')|ternary('stable', 'staging') }}
    contextDir: /
  strategy:
    type: Source
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: python-310-custom-builder:latest
  output:
    to:
      kind: ImageStreamTag
      name: fedbadges:latest
  triggers:
  - type: ConfigChange
  - type: ImageChange
  - type: GitHub
    github:
      # Not sure why secretReference does not work, but it doesn't.
      # secretReference:
      #   name: github-webook
      secret: "{{ (env == 'production')|ternary(badges_prod_github_secret, badges_stg_github_secret) }}"
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: tahrir
  labels:
    app: badges
    build: tahrir
spec:
  runPolicy: Serial
  source:
    type: Git
    git:
      uri: https://github.com/fedora-infra/tahrir.git
      # ref: {{ (env == 'production')|ternary('stable', 'staging') }}
      ref: {{ (env == 'production')|ternary('stable', 'flask') }}
    contextDir: /
  strategy:
    type: Source
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: python-310-custom-builder:latest
  output:
    to:
      kind: ImageStreamTag
      name: tahrir:latest
  triggers:
  - type: ConfigChange
  - type: ImageChange
  - type: GitHub
    github:
      # Not sure why secretReference does not work, but it doesn't.
      # secretReference:
      #   name: github-webook
      secret: "{{ (env == 'production')|ternary(badges_prod_github_secret, badges_stg_github_secret) }}"
