#
### Update the rules repo
#
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: update-rules
spec:
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  schedule: "*/15 * * * *"
  startingDeadlineSeconds: 500
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
          - name: badges
            image: image-registry.openshift-image-registry.svc:5000/badges/fedbadges:latest
            command: ["bash", "/etc/badges/checkout-rules-repo.sh"]
            volumeMounts:
              - name: etc-badges
                mountPath: "/etc/badges"
                readOnly: true
              - name: rules
                mountPath: "/var/lib/badges"
                readOnly: false
              - name: ipa-config-volume
                mountPath: /etc/ipa
                readOnly: true
              - name: keytab-volume
                mountPath: /etc/keytabs
                readOnly: true
              - name: fedora-messaging-ca-volume
                mountPath: /etc/pki/fedora-messaging/ca
                readOnly: true
              - name: fedora-messaging-key-volume
                mountPath: /etc/pki/fedora-messaging/key
                readOnly: true
              - name: fedora-messaging-crt-volume
                mountPath: /etc/pki/fedora-messaging/crt
                readOnly: true
            env:
              - name: FEDORA_MESSAGING_CONF
                value: "/etc/badges/fm-fedbadges.toml"
          volumes:
            - name: etc-badges
              configMap:
                name: badges
            - name: rules
              persistentVolumeClaim:
                claimName: rules
            - name: ipa-config-volume
              configMap:
                name: ipa-client-config
            - name: keytab-volume
              secret:
                secretName: fedbadges-keytab
            - name: fedora-messaging-ca-volume
              secret:
                secretName: fedora-messaging-ca
            - name: fedora-messaging-key-volume
              secret:
                secretName: fedora-messaging-key
            - name: fedora-messaging-crt-volume
              secret:
                secretName: fedora-messaging-crt
          securityContext:
            supplementalGroups: [{{ openshift_user_id }}]
