/var/log/httpd/*log 
{% if ansible_hostname.startswith("kojipkgs") %}
/var/log/httpd/*.log.????-??-??
{% endif %}
{
    daily
    rotate 7
    missingok
    ifempty
    compress
    compresscmd /usr/bin/xz
    uncompresscmd /usr/bin/xz
    compressext .xz
    dateext
    sharedscripts
    copytruncate
}
