#{{ ansible_managed }}

# A sample configuration for fedora-messaging. This file is in the TOML format.
# For complete details on all configuration options, see the documentation.

amqp_url = "amqp://{{ faf_fedmsg_server }}?connection_attempts=3&retry_delay=5"

passive_declares = true

[tls]
ca_cert = {{ faf_fedmsg_ca_cert }}
keyfile = {{ faf_fedmsg_keyfile }}
certfile = {{ faf_fedmsg_certfile }}

[client_properties]
app = "FAF"
