---
- name: configure openQA workers
  hosts: openqa_workers:openqa_lab_workers
  user: root
  gather_facts: true

  vars_files:
    - /srv/web/infra/ansible/vars/global.yml
    - "/srv/private/ansible/vars.yml"
    - /srv/web/infra/ansible/vars/{{ ansible_distribution }}.yml

  pre_tasks:
  - include_vars: dir=/srv/web/infra/ansible/vars/all/ ignore_files=README
  - import_tasks: "{{ tasks_path }}/yumrepos.yml"

  roles:
  - { role: base, tags: ['base'] }
  - { role: rkhunter, tags: ['rkhunter'] }
  - { role: nagios_client, tags: ['nagios_client'] }
  - { role: hosts, tags: ['hosts']}
  - { role: ipa/client, tags: ['ipa_client']}
  - { role: collectd/base, tags: ['collectd_base'] }
  - { role: sudo, tags: ['sudo'] }
  - { role: openqa/worker, tags: ['openqa_worker'] }
  - { role: linux-system-roles.nbde_client, tags: ['nbde_client'], when: openqa_nbde|bool }
  - apache

  tasks:
  - import_tasks: "{{ tasks_path }}/motd.yml"

  handlers:
  - import_tasks: "{{ handlers_path }}/restart_services.yml"
