---
- import_playbook: "/srv/web/infra/ansible/playbooks/include/virt-create.yml"
  vars:
    myhosts: "value:value_stg"

- name: Make the box be real
  hosts: value:value_stg
  user: root
  gather_facts: true

  vars_files:
  - /srv/web/infra/ansible/vars/global.yml
  - "/srv/private/ansible/vars.yml"
  - /srv/web/infra/ansible/vars/{{ ansible_distribution }}.yml

  roles:
  - base
  - rkhunter
  - nagios_client
  - zabbix/zabbix_agent
  - hosts
  - {role: openvpn/client,
     when: env != "staging"}
  - ipa/client
  - {role: keytab/service,
     owner_user: daemon,
     owner_group: daemon,
     service: ursabot,
     when: inventory_hostname.startswith('value02.stg')}
  - {role: keytab/service,
     owner_user: daemon,
     owner_group: daemon,
     service: zodbot,
     when: inventory_hostname.startswith('value02.iad2')}
  - collectd/base
  - apache
  - supybot
  - sudo
  - rsyncd
  - role: collectd/fedmsg-service
    process: fedmsg-irc
  - {role: nfs/client,
     nfs_mount_opts: "rw,hard,bg,intr,noatime,nodev,nosuid,nfsvers=3",
     mnt_dir: '/srv/',
     nfs_src_dir: 'fedora_value_{{env_short}}',
     mount_stg: true }

  pre_tasks:
  - import_tasks: "{{ tasks_path }}/yumrepos.yml"

  tasks:
  - import_tasks: "{{ tasks_path }}/motd.yml"

  handlers:
  - import_tasks: "{{ handlers_path }}/restart_services.yml"
