---
# PVC to mount the fedora-ostree-content-volume NFS share
# that has been mapped in to OpenShift by Fedora Infra for
# us from the NetApp. This corresponds to the fedora-ostree-content{,-stg}
# NetApp volumes which are mounted in other places as well.
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fedora-ostree-content-volume
spec:
# ocs-storagecluster-cephfs to use `ReadWriteMany` functionality
storageClassName: "ocs-storagecluster-cephfs"
  # fedora-ostree-content-volume-2 is one of two PVs that share
  # the fedora-ostree-content NetApp volume
  {% if env == "production" %}
  volumeName: "fedora-ostree-content-volume-2"
  {% elif env == "staging" %}
  # fedora-ostree-content-volume-2 is not available in staging
  volumeName: "fedora-ostree-content-volume-1"
  {% endif %}
  # These values are mostly ignored since we're using a named
  # volume, but are required.
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
