---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fedora-packages-static-storage{{ '-stg' if env == 'staging' else '' }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
  storageClassName: ""
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fedora-packages-static-db-storage{{ '-stg' if env == 'staging' else '' }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: ""
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: solr-storage{{ '-stg' if env == 'staging' else '' }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: ""
