---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
{% if route_annotations is defined %}
  annotations:
    {{ route_annotations | to_nice_yaml | indent(4) }}
{% endif %}
  name: {{ route_name }}
  labels:
    app: {{ route_app }}
spec:
{% if route_host is defined %}
  host: {{ route_host }}
{% endif %}
{% if route_path is defined %}
  path: {{ route_path }}
{% endif %}
{% if route_wildcardpolicy is defined %}
  wildcardPolicy: {{ route_wildcardpolicy }}
{% endif %}
  port:
    targetPort: {{ route_serviceport }}
  to:
    kind: Service
    name: {{ route_servicename }}
  tls:
{% if route_termination_passthrough is defined and route_termination_passthrough %}
    termination: Passthrough
{% elif route_termination_reencrypt is defined and route_termination_reencrypt %}
    termination: Reencrypt
{% else %}
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
{% endif %}
