---
- name: Configure retrace-server
  template:
    src: etc-retrace-server.conf.j2
    dest: /etc/retrace-server/retrace-server.conf
    mode: "0644"
  notify: restart httpd

- name: Retrace-server http config
  template:
    src: retrace-server-httpd.conf.j2
    dest: /etc/httpd/conf.d/retrace-server-httpd.conf
    mode: "0644"
  notify: restart httpd

- name: Configure retrace-server hooks config
  template:
    src: etc-retrace-server-hooks.conf.j2
    dest: /etc/retrace-server/retrace-server-hooks.conf
    mode: "0644"
  notify: restart httpd
