---
- name: install packages needed by resalloc server
  dnf:
    state: present
    name:
    - genisoimage
    - libvirt-client
    - postgresql-server
    - python3-psycopg2
    - resalloc
    - resalloc-server
    - virt-install

- name: See if postgreSQL is initialized
  stat: path=/var/lib/pgsql/data/PG_VERSION
  register: postgres_initialized

- name: init postgresql
  shell: "postgresql-setup initdb"
  when: not postgres_initialized.stat.exists

- name: enable PostgreSQL service
  service: state=started enabled=yes name=postgresql

- name: Create PG user
  postgresql_user: name="resalloc"
  become: yes
  become_user: postgres

- name: Create db
  postgresql_db: name="resalloc" encoding='UTF-8' owner=resalloc
  become: yes
  become_user: postgres

- name: setup provision directory
  include_tasks: setup_provisioning_environment.yml
  vars:
    provision_directory: /var/lib/resallocserver/provision

- name: install .ansible.cfg for {{ provision_user }} user
  copy: src=ansible.cfg dest=/var/lib/resallocserver/.ansible.cfg
        owner=resalloc group=resalloc mode=600
  tags:
  - provision_config

- name: resalloc, sync resalloc provisioning files
  synchronize: src="resalloc_provision/" dest="/var/lib/resallocserver/resalloc_provision/"
  tags:
  - provision_config

- name: resalloc, scripts
  template: src="resalloc/{{ item }}" dest="/var/lib/resallocserver/resalloc_provision/"
            mode=755
  with_items:
  - vm-aarch64-new
  - vm-aws-new
  - vm-aws-delete
  - vm-aws-check
  tags:
  - provision_config

- name: resalloc, ssh directory
  file:
    path: /var/lib/resallocserver/.ssh
    state: directory
    mode: 0700
    owner: resalloc
    group: resalloc

- name: resalloc, copy backend ssh identity
  copy:
    src: "{{ private }}/files/copr/buildsys.priv"
    dest: /var/lib/resallocserver/.ssh/id_rsa
    owner: resalloc
    group: resalloc
    mode: 0600

- name: resalloc, ssh config file
  copy:
    src: "ssh_config"
    dest: /var/lib/resallocserver/.ssh/config
    owner: resalloc
    group: resalloc
    mode: 0600

- name: resalloc, server config
  template:
    src: "resalloc/{{ item }}"
    dest: "/etc/resallocserver/{{ item }}"
    mode: 0600
    owner: resalloc
    group: resalloc
  with_items:
  - server.yaml
  - pools.yaml
  tags:
  - provision_config
  - resalloc_config

- name: start/enable resalloc server
  service:
    name: resalloc
    state: started
    enabled: yes
  when: not services_disabled|bool
