NODENAME="rabbit"
USE_LONGNAME="true"

ERL_SSL_PATH="{{ erlang_ssl_path }}"

{% if ansible_distribution_major_version|int >= 9 and ansible_distribution == 'RedHat' %}
SERVER_ADDITIONAL_ERL_ARGS="-pa $ERL_SSL_PATH
  -proto_dist inet_tls
  -ssl_dist_optfile /etc/rabbitmq/inter_node_tls.config"

CTL_ERL_ARGS="-pa $ERL_SSL_PATH
  -proto_dist inet_tls
  -ssl_dist_optfile /etc/rabbitmq/inter_node_tls.config"
{% else %}
SERVER_ADDITIONAL_ERL_ARGS="-pa $ERL_SSL_PATH \
-proto_dist inet_tls \
-ssl_dist_opt server_certfile /etc/rabbitmq/nodecert.combined.pem \
-ssl_dist_opt server_secure_renegotiate true client_secure_renegotiate true"

CTL_ERL_ARGS="-pa $ERL_SSL_PATH \
-proto_dist inet_tls \
-ssl_dist_opt server_certfile /etc/rabbitmq/nodecert.combined.pem \
-ssl_dist_opt server_secure_renegotiate true client_secure_renegotiate true"
{% endif %}
