---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: web
  labels:
    app: ipsilon-website
    build: ipsilon-website
spec:
  runPolicy: Serial
  source:
    type: Git
    git:
      uri: https://pagure.io/ipsilon-website.git
      ref: master
    contextDir: /
  strategy:
    type: Docker
  output:
    to:
      kind: ImageStreamTag
      name: ipsilon-website:latest
  triggers:
  - type: ConfigChange
  - type: ImageChange
  - type: "Generic"
    generic:
      secretReference:
{% if env == "staging" %}
        name: "{{ ipsilon_website_stg_webhook_secret }}"
{% else %}
        name: "{{ ipsilon_website_webhook_secret }}"
{% endif %}
