[Unit]
Description=ursabot irc bot
After=network.target

[Service]
Environment=FEDORA_MESSAGING_CONF=/etc/fedora-messaging/ursabot.toml
Environment=KRB5_CLIENT_KTNAME=/etc/krb5.ursabot_value01.stg.rdu3.fedoraproject.org.keytab
Type=simple
User=daemon
Group=daemon
ExecStart=/usr/bin/supybot /var/lib/ursabot/conf/ursabot.conf
Restart=always
WorkingDirectory=/srv/web/meetbot

[Install]
WantedBy=multi-user.target
