[Unit]
Description=zodbot irc bot
After=network.target

[Service]
Environment=FEDORA_MESSAGING_CONF=/etc/fedora-messaging/zodbot.toml
Environment=KRB5_CLIENT_KTNAME=/etc/krb5.zodbot_value02.rdu3.fedoraproject.org.keytab
Type=simple
User=daemon
Group=daemon
ExecStart=/usr/bin/supybot /var/lib/zodbot/conf/zodbot.conf
Restart=always
WorkingDirectory=/srv/web/meetbot

[Install]
WantedBy=multi-user.target
