---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  labels:
    monitoring-key: 'cpe'
  name: bodhi-web
spec:
  selector:
    matchLabels:
      app: bodhi-web
  podMetricsEndpoints:
  - port: web
    path: /metrics
