---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    monitoring-key: 'cpe'
  name: bodhi-service
spec:
  endpoints:
    - path: /metrics
      port: web
  selector:
    matchLabels:
      app: bodhi
