---
apiVersion: v1
kind: Secret
metadata:
  name: openvpn-certs
data:
  ca.crt: {{ lookup('file', private+'/files/vpn/pki/ca.crt') | b64encode }}
{% if datacenter == 'iad2' }
{% for node in ocp_nodes %}
  {{node}}.crt: {{ lookup('file', private+'/files/vpn/pki/issued/'+node+'.crt') | b64encode }}
  {{node}}.key: {{ lookup('file', private+'/files/vpn/pki/private/'+node+'.key') | b64encode }}
{% endfor %}
{% elif datacenter == 'rdu3' }
{% for node in ocp_nodes_rdu3 %}
  {{node}}.crt: {{ lookup('file', private+'/files/vpn/pki/issued/'+node+'.crt') | b64encode }}
  {{node}}.key: {{ lookup('file', private+'/files/vpn/pki/private/'+node+'.key') | b64encode }}
{% endfor %}
{% endif %}
