---
apiVersion: v1
kind: Secret
metadata:
  name: openvpn-certs
data:
  ca.crt: {{ lookup('file', private+'/files/vpn/pki/ca.crt') | b64encode }}
{% for node in ocp_nodes %}
  {{node}}.crt: {{ lookup('file', private+'/files/vpn/pki/issued/'+node+'.crt') | b64encode }}
  {{node}}.key: {{ lookup('file', private+'/files/vpn/pki/private/'+node+'.key') | b64encode }}
{% endfor %}
