plugin: constructed
strict: False
compose:
groups:
    iad2: ('iad2.fedoraproject.org' in ansible_domain)
keyed_groups:
    - prefix: distro
      key: ansible_distribution

    - prefix: vmhost
      key: vmhost

    - prefix: datacenter
      key: datacenter

    - prefix: virt
      key: ansible_virtualization_role
