plugin: constructed
strict: False
compose:
groups:
    rdu3: ('rdu3.fedoraproject.org' in ansible_domain)
    rdu3_guests: ('rdu3.fedoraproject.org' in ansible_domain and 'guest' in ansible_virtualization_role)
    rdu3_hosts: ('rdu3.fedoraproject.org' in ansible_domain and 'host' in ansible_virtualization_role)
keyed_groups:
    - prefix: distro
      key: ansible_distribution

    - prefix: vmhost
      key: vmhost

    - prefix: datacenter
      key: datacenter

    - prefix: virt
      key: ansible_virtualization_role
