plugin: constructed
strict: False
compose:
groups:
    iad2: ('iad2.fedoraproject.org' in ansible_domain)
    iad2_guests: ('iad2.fedoraproject.org' in ansible_domain and 'guest' in ansible_virtualization_role)
    iad2_hosts: ('iad2.fedoraproject.org' in ansible_domain and 'host' in ansible_virtualization_role)
keyed_groups:
    - prefix: distro
      key: ansible_distribution

    - prefix: vmhost
      key: vmhost

    - prefix: datacenter
      key: datacenter

    - prefix: virt
      key: ansible_virtualization_role
