# IPA plugin

<LoadPlugin python>
  Globals true
</LoadPlugin>

<Plugin python>
  LogTraces true
  Interactive false
  Import "collectd_ipa"

  <Module collectd_ipa>
    ## Interval between two collections. The collectd default of 10 seconds is
    ## way too short, this plugin sets the default to 1h (3600s). Adjust
    ## depending on the number of users you have and how long it takes to
    ## collect this data. Remember that if you change the interval, you'll have
    ## to recreate your RRD files.
    # Interval 3600

    ## To accomodate clusters, all the metrics will be attached to a virtual
    ## host named after your domain in IPA. The `domain_prefix` value allows you
    ## to add a prefix to this domain.
    # DomainPrefix "ipa."

    ## Path to the IPA configuration file, where the domain will be read from.
    # IpaConf "/etc/ipa/default.conf"

    ## Path to the LDAP configuration file, where the default directory base DN
    ## will be read from.
    # LdapConf "/etc/openldap/ldap.conf"

    ## Set environment variables for Kerberos authentication. The client keytab
    ## should be linked to an account (user or service) that has the
    ## permissions to read stage users. In IPA, this means that it must have a
    ## role that has a privilege granting the "System: Read Stage Users"
    ## permission.
    SetEnv KRB5_CLIENT_KTNAME "/etc/krb5.stage-users_{{ ipa_server }}.keytab"

    ## Directory where the Kerberos credential caches will be created.
    # CredCacheDir "/var/lib/collectd"
  </Module>
</Plugin>
