## This template currently only works for noc02. If noc01 gets ipv6 then
## it will need to be revisited.

{% for host in groups['all']|sort %}
{% if hostvars[host].datacenter == 'ibiblio' and hostvars[host].nagios_Can_Connect == true %}
define host {
   use                     mincheck
   host_name               {{ host }}-ipv6
{% if hostvars[host].ansible_hostname is defined %}
   alias                   {{ hostvars[host].ansible_hostname }}
{% else %}
   alias                   {{ host }}
{% endif %}
{% if hostvars[host].eth0_ipv6_ip is defined %}
   address                 {{ hostvars[host].eth0_ipv6_ip }}
{% elif hostvars[host].ansible_default_ipv6 is defined %}
{% if hostvars[host].ansible_default_ipv6.address is defined %}
   address                 {{ hostvars[host].ansible_default_ipv6.address }}
{% endif %}
{% else %}
   address                 {{ host }}
{% endif %}
{% if hostvars[host]['vmhost'] is defined %}
   parents                 {{ hostvars[host]['vmhost'] }}
{% elif hostvars[host].datacenter is defined %}
   parents                 ibiblio-gw
{% endif %}
}
{% endif %}
{% endfor %}
