define host {
  host_name                    status
  alias                        status.fedoraproject.org
  use                          mincheck
  address                      d6tcqd4og8l21.cloudfront.net
{% if vars['nagios_location'] == 'rdu3_internal' %}
  parents                      rdu3-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}
}

define host {
  host_name                    copr-be
  alias                        download.copr.fedorainfracloud.org
  use                          mincheck
  address                      d1nld9ovj32u75.cloudfront.net
{% if vars['nagios_location'] == 'rdu3_internal' %}
  parents                      rdu3-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}
}

define host {
  host_name                    registry-cdn
  alias                        cdn.registry.fedoraproject.org
  use                          mincheck
  address                      cdn.registry.fedoraproject.org
{% if vars['nagios_location'] == 'rdu3_internal' %}
  parents                      rdu3-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}
}

define host {
  host_name                    lists.fedoraproject.org
  alias                        lists.fedoraproject.org
  use                          mincheck
  address                      lists.fedoraproject.org
{% if vars['nagios_location'] == 'rdu3_internal' %}
  parents                      rdu3-gw
{% else %}
  parents                      ibiblio-gw
{% endif %}
}

define host {
  host_name                    retrace.fedoraproject.org
  alias                        retrace.fedoraproject.org
  use                          mincheck
  address                      retrace.fedoraproject.org
  parents                      rdu3-gw
}
