{% if datacenter == 'rdu3' %}
define hostgroup {
        hostgroup_name  oneproxy
        alias           just one proxy
        members         proxy01.rdu3.fedoraproject.org

}

define hostgroup {
        hostgroup_name  oneproxy-stg
        alias           just one proxy in staging
        members         proxy01.stg.rdu3.fedoraproject.org

}
{% elif datacenter == 'rdu3' %}
define hostgroup {
        hostgroup_name  oneproxy
        alias           just one proxy
        members         proxy01.rdu3.fedoraproject.org

}

define hostgroup {
        hostgroup_name  oneproxy-stg
        alias           just one proxy in staging
        members         proxy01.stg.rdu3.fedoraproject.org

}
{% endif %}
