##
## VPN clients
define hostgroup {
        hostgroup_name  vpnclients
        alias           vpnclients
        members         {% for host in groups['all']|sort %}{% if ( hostvars[host].datacenter == datacenter ) and ( hostvars[host].vpn == true ) and ( hostvars[host].nagios_Can_Connect == true ) and (host not in groups['ocp_stg']+groups['ocp']) %}{{host}},{% endif %}{% endfor %}

}
# TODO: Add !bastion02.rdu3.fedoraproject.org above when it exists.
