[Unit]
Description=Run hyperkitty monthly maintenance every month
Requires=hyperkitty.target
PartOf=hyperkitty.target

[Timer]
OnCalendar=*-*-01 00:00:00
RandomizedDelaySec=6h
Persistent=true

[Install]
WantedBy=hyperkitty.target
