[Unit]
Description=Run hyperkitty minutely maintenance every minute
Requires=hyperkitty.target
PartOf=hyperkitty.target

[Timer]
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=hyperkitty.target
