[Unit]
Description=Run hyperkitty maintenance every 15 minutes
Requires=hyperkitty.target
PartOf=hyperkitty.target

[Timer]
OnCalendar=*-*-* *:00/15:00
Persistent=true
RandomizedDelaySec=5m
