[Unit]
Description= Mailman Web ui
DefaultDependencies=no
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
RestartSec=5s
Type=simple
User=mailman
Group=mailman
WorkingDirectory=/etc/mailman3
ExecStart=/usr/bin/gunicorn -c /etc/mailman3/gunicorn.conf.py mailman_web.wsgi
ExecStop=/bin/kill -s TERM $MAINPID
