# This is a config file for Koschei that can override values in default
# configuration in /usr/share/koschei/config.cfg. It is a python file expecting
# assignment to config dictionary which will be recursively merged with the
# default one.

config = {
    "database_config": {
        "username": "{{ koschei_pgsql_admin_username }}",
        "password": "{{ koschei_pgsql_admin_password }}",
    },
    "unpriv_db_username": "{{ koschei_pgsql_username }}",
}

# Local Variables:
# mode: Python
# End:
# vi: ft=python
