{% macro load_file(filename) %}{% include filename %}{%- endmacro -%}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fedora-messaging-config
  labels:
    app: Datanommer
data:
  config.toml: |-
    {{ load_file('fedora-messaging-config.toml') | indent(6) }}
  alembic.ini: |-
    {{ load_file('alembic.ini') | indent(6) }}
