---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: redis
  namespace: mote
spec:
  lookupPolicy:
    local: false
  tags:
  - from:
      kind: DockerImage
      name: registry.redhat.io/rhel9/redis-6:latest
    importPolicy:
      scheduled: true
    name: latest
    referencePolicy:
      type: Source
