[web]
SiteName = koji
#KojiTheme = mytheme

# Key urls
{% if env == 'staging' %}
KojiHubURL = https://koji.stg.fedoraproject.org/kojihub
KojiFilesURL = https://kojipkgs.stg.fedoraproject.org/
{% elif koji_instance == "primary"  %}
KojiHubURL = https://koji.fedoraproject.org/kojihub
KojiFilesURL = https://kojipkgs.fedoraproject.org/
{% else %}
KojiHubURL = https://riscv-koji.fedoraproject.org/kojihub
KojiFilesURL = https://riscv-kojipkgs.fedoraproject.org/
{% endif %}

# SSL authentication options
KrbRDNS = False
{% if koji_instance == "primary"  %}
WebKeytab = /etc/krb5.HTTP_koji{{env_suffix}}.fedoraproject.org.keytab
WebPrincipal = HTTP/koji{{env_suffix}}.fedoraproject.org
{% else %}
WebKeytab = /etc/krb5.HTTP_riscv-koji{{env_suffix}}.fedoraproject.org.keytab
WebPrincipal = HTTP/riscv-koji{{env_suffix}}.fedoraproject.org
{% endif %}

LoginTimeout = 72

# This must be changed and uncommented before deployment
{% if env == 'staging' %}
Secret = {{ kojiStgSecret }}
{% elif koji_instance == "primary"  %}
Secret = {{ kojiSecret }}
{% else %}
Secret = {{ riscvkojiSecret }}
{% endif %}

LibPath = /usr/share/koji-web/lib

loginDisabled = True

KojiHubCA = /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem

{% if env == 'staging' %}
Tasks = flatpakBuild,flatpakBuildArch,runroot,osbuildImage,createKiwiImage,kiwiBuild,imageBuilderBuildArch,imageBuilderBuild
ParentTasks = flatpakBuild,osbuildImage,kiwiBuild,imageBuilderBuild
{% elif koji_instance == "primary"  %}
Tasks = flatpakBuild,flatpakBuildArch,runroot,osbuildImage,createKiwiImage,kiwiBuild,imageBuilderBuildArch,imageBuilderBuild
ParentTasks = flatpakBuild,osbuildImage,kiwiBuild,imageBuilderBuild
{% else %}
Tasks = flatpakBuild,flatpakBuildArch,runroot,osbuildImage,createKiwiImage,kiwiBuild,imageBuilderBuildArch,imageBuilderBuild
ParentTasks = flatpakBuild,osbuildImage,kiwiBuild,imageBuilderBuild
{% endif %}
ToplevelTasks = flatpakBuild,osbuildImage
