#!/bin/bash
stdin=$(cat)

host=$(hostname -s)

curl -X POST -H "Content-Type: application/json" -u {{ matrix_nonbot_auth }} https://maubot.apps.ocp.fedoraproject.org/plugin/nonbot-nagios/send?host=$host&service=$1 -d "$stdin"
