---
apiVersion: v1
kind: Service
metadata:
  name: maubot
  labels:
    app: maubot
spec:
  ports:
    - name: maubot
      port: 8080
      targetPort: 8080
  selector:
    app: maubot
    deployment: maubot
