{% macro load_file(filename) %}{% include filename %}{%- endmacro -%}
---
apiVersion: v1
kind: List
metadata: {}
items:
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: osh-hub-httpd-config
    labels:
      app: openscanhub
  data:
    osh-hub-httpd.conf: |-
      {{ load_file('osh-hub-httpd.conf') | indent(6) }}
