---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-var-lib-redis-data
spec:
  volumeName: fedora-openscanhub-pvc-var-lib-redis-data-{{env_short}}
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      # This should be manually expanded when production
      # has gone beyond this limit.
      storage: 1Gi
  storageClassName: ''
