---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-var-lib-osh
spec:
  # This volume is on NFS.
  volumeName: fedora-openscanhub-var-lib-osh-{{env_short}}
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      # This should be manually expanded when production
      # has gone beyond this limit.
{% if env == "staging" %}
      storage: 32Gi
{% else %}
      storage: 512Gi
{% endif %}
  storageClassName: ''
