---
kind: Secret
apiVersion: v1
metadata:
  name: redis-password
stringData:
{% if env == 'staging' %}
  password: {{ stg_flatpak_indexer_redis_password }}
{% else %}
  password: {{ prod_flatpak_indexer_redis_password }}
{% endif %}
