---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: flatpak-indexer-storage{{ '-stg' if env == 'staging' else '' }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  volumeName: flatpak-indexer-storage{{ '-stg' if env == 'staging' else '' }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: flatpak-indexer-redis-storage{{ '-stg' if env == 'staging' else '' }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  volumeName: flatpak-indexer-redis-storage{{ '-stg' if env == 'staging' else '' }}
