DEFAULT {{ inventory_hostname }}-deploy
PROMPT 0
TIMEOUT 50
TOTALTIMEOUT 6000
ONTIMEOUT {{ inventory_hostname }}-deploy

LABEL local
        MENU LABEL (local)
        MENU DEFAULT
        LOCALBOOT 0

LABEL {{ inventory_hostname}}-deploy
        MENU LABEL RHCOS {{ rhcos_version }} {{ arch }}- Kickstart for {{ inventory_hostname }}
        KERNEL rhcos/rhcos-{{ rhcos_version }}-{{ arch }}-live-kernel-{{ arch }}
        APPEND ip={{ eth0_ip }}::{{ gw }}:{{ nm }}:{{ inventory_hostname }}:{{ pxe_bootdev }}:none nameserver={{ dns }} initrd=rhcos/rhcos-{{ rhcos_version }}-{{ arch }}-live-initramfs.{{ arch }}.img coreos.inst.install_dev={{ install_dev }} coreos.live.rootfs_url={{ rhcos_install_rootfs_url }} coreos.inst.ignition_url={{ rhcos_ignition_file_url }}
