define contactgroup{
        contactgroup_name       fedora-sysadmin-email
        alias                   Fedora Sysadmin Email Contacts
# sysadmin-main: @ausil codeblock @kevin
        members admin,codeblock,kevin
        }
