define contactgroup{
        contactgroup_name       fedora-sysadmin-email
        alias                   Fedora Sysadmin Email Contacts
# sysadmin-main: @ausil @kevin
        members admin,kevin
        }
