---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    monitoring-key: 'cpe'
  name: coreos-cincinnati
spec:
  endpoints:
    - port: coreos-cincinnati-raw-updates-status
      path: /metrics
    - port: coreos-cincinnati-updates-status
      path: /metrics
  selector:
    matchLabels:
      app: coreos-cincinnati
