---
apiVersion: v1
kind: Secret
metadata:
  name: zezere
  labels:
    app: zezere
stringData:
{% if env == 'staging' %}
  secret_key: "{{ zezere_secret_key_staging }}"
  oidc_client_secret: "{{ zezere_oidc_client_secret_staging }}"
  database_password: "{{ zezere_db_password_staging }}"
{% else %}
  secret_key: "{{ zezere_secret_key_production }}"
  oidc_client_secret: "{{ zezere_oidc_client_secret_production }}"
  database_password: "{{ zezere_db_password_production }}"
{% endif %}
