---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: mdapi-build
  labels:
    environment: "mdapi"
spec:
  source:
    git:
{% if env == 'staging' %}
      uri: https://github.com/fedora-infra/mdapi.git
      ref: "develop"
{% else %}
      uri: https://github.com/fedora-infra/mdapi.git
      ref: "prod"
{% endif %}
  strategy:
    type: Docker
  triggers:
  - type: ConfigChange
  - type: ImageChange
  output:
    to:
      kind: ImageStreamTag
      name: mdapi:latest
