{% macro load_file(filename) %}{% include filename %}{%- endmacro -%}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mdapi-configmap
  labels:
    app: mdapi
data:
  mdapi.cfg: |-
    {{ load_file('mdapi.cfg') | indent }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mdapi-myconfigpy-configmap
  labels:
    app: mdapi
data:
  myconfig.py: |-
    {{ load_file('myconfig.py') | indent }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fedora-messaging-configmap
  labels:
    app: mdapi
data:
  config.toml: |-
    {{ load_file('config.toml') | indent }}
