---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: fedora-packages-static
spec:
  lookupPolicy:
    local: false
status:
  dockerImageRepository: ""
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: solr
spec:
  tags:
  - name: "8"
    from:
      kind: DockerImage
      name: solr:8
