# backend vars
---
prod_resultsdb_image: quay.io/factory2/resultsdb:prod-fedora
stg_resultsdb_image: quay.io/factory2/resultsdb:latest

resultsdb_publish: true
resultsdb_mod_wsgi_dir: '${MOD_WSGI_MODULES_DIRECTORY}'

# For CRASHED see: https://pagure.io/task-abicheck/issue/19
# For QUEUED and RUNNING see: https://pagure.io/fedora-infrastructure/issue/8989
resultsdb_additional_result_outcomes: ['CRASHED', 'QUEUED', 'RUNNING']

# frontend vars
stg_resultsdb_frontend_image: 'quay.io/factory2/resultsdb_frontend:latest'
prod_resultsdb_frontend_image: 'quay.io/factory2/resultsdb_frontend:prod-fedora'
prod_resultsdb_frontend_api_url: 'http://resultsdb-api.resultsdb.svc.cluster.local:5001/api/v2.0'
stg_resultsdb_frontend_api_url: 'http://resultsdb-api.resultsdb.svc.cluster.local:5001/api/v2.0'
