# branched compose
# MAILTO=releng-cron@lists.fedoraproject.org
{% if FedoraBranched %}
15 7 * * * root touch /tmp/fedora-compose-branched && TMPDIR=`mktemp -d /tmp/branched.XXXXXX` && chmod 755 $TMPDIR && cd $TMPDIR && git clone https://pagure.io/pungi-fedora.git && cd pungi-fedora && git checkout f{{ FedoraBranchedNumber }} && /usr/local/bin/lock-wrapper branched-compose "LANG=en_US.UTF-8 ./nightly.sh" && sudo -u ftpsync /usr/local/bin/update-fullfiletimelist -l /pub/fedora-secondary/update-fullfiletimelist.lock -t /pub fedora fedora-secondary && rm /tmp/fedora-compose-branched
{% else %}
# No Branched at present, this space intentionally left blank
{% endif %}
