[bugzilla]
{% if env == "production" %}
bugzilla=https://bugzilla.redhat.com/
tracking=1868278
{% elif env == 'staging' %}
bugzilla=https://partner-bugzilla.redhat.com/
tracking=1732434
{% endif %}
username={{ ftbfs_bugzilla_account }}
password={{ ftbfs_bugzilla_password }}
fedora=f34
