# Runs the `sig_policy.py` script
MAILTO=releng-cron@lists.fedoraproject.org
PAGURE_API_TOKEN={{ fesco-sig-policy-src-token }}
30 9 * * 1 root TMPDIR=`mktemp -d /tmp/sig_policy` && chmod 755 $TMPDIR && cd $TMPDIR && git clone https://pagure.io/releng.git && cd releng/scripts/fesco/sig-policy && python sig_policy.py
