---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: fedocal-build
  labels:
    environment: "fedocal"
spec:
  output:
    to:
      kind: ImageStreamTag
      name: fedocal:latest
  source:
    type: Git
    git:
      uri: https://pagure.io/fedocal.git
{% if env == 'staging' %}
      ref: "staging"
{% else %}
      ref: "production"
{% endif %}
  strategy:
    type: Source
    sourceStrategy:
      from:
        kind: ImageStreamTag
        namespace: openshift
{% if env == 'staging' %}
        name: python:3.11-ubi9
{% else %}
        name: python:3.9-ubi8
{% endif %}
  triggers:
  - type: ConfigChange
  - type: ImageChange
