---
apiVersion: v1
kind: ImageStream
metadata:
  name: flatpak-indexer
---
apiVersion: v1
kind: ImageStream
metadata:
  name: flatpak-indexer-tardiff
---
apiVersion: v1
kind: ImageStream
metadata:
  name: redis
---
apiVersion: v1
kind: ImageStream
metadata:
  name: fedora
  spec:
    lookupPolicy:
      local: false
    tags:
    - name: latest
      from:
        kind: DockerImage
        name: registry.fedoraproject.org/fedora:latest
      importPolicy:
        scheduled: true
      referencePolicy:
        type: Source
---
apiVersion: v1
kind: ImageStream
metadata:
  name: ubi8-go-toolset
  spec:
    lookupPolicy:
      local: false
    tags:
    - name: latest
      from:
        kind: DockerImage
        name: registry.access.redhat.com/ubi8/go-toolset:latest
      importPolicy:
        scheduled: true
      referencePolicy:
        type: Source
---
apiVersion: v1
kind: ImageStream
metadata:
  name: ubi8-python-38
  spec:
    lookupPolicy:
      local: false
    tags:
    - name: latest
      from:
        kind: DockerImage
        name: registry.access.redhat.com/ubi8/python-38:latest
      importPolicy:
        scheduled: true
      referencePolicy:
        type: Source
