# HTTP

{% for host in vars['rdu3_management_hosts']|sort %}

{% if 'rdu3_management_no_http' not in group_names %}
 define service {
   host_name             {{ host }}
   service_description   {{ host }}-http
   check_command         check_http!{{ host }}
   use                   defaulttemplate
   servicegroups	 mgmt-http
 }
{% endif %}
 
 define service {
   host_name             {{ host }}
   service_description   {{ host }}-https
   check_command         check_https!{{ host }}
   use                   defaulttemplate
   servicegroups	 mgmt-https
 }

{% endfor %}
