---
- name: Some basic wrapper scripts for zabbix-sender
  ansible.builtin.copy:
    src: "scripts/{{ item }}"
    dest: "/usr/lib/zabbix/{{ item }}"
    mode: "0755"
  with_items:
    - zabbix-hw-raid-check.sh
    - zabbix-mdstat-check.sh
    - zabbix-check-eth-settings.sh
    - zabbix-check-iptables.sh
    - zabbix-check-ro.sh

- name: Ensuring we have some cron jobs for zabbix-sender wrapper scripts
  cron:
    name: "Zabbix sender wrapper script {{ item }}"
    minute: "*/30"
    job: "/usr/lib/zabbix/{{ item }}"
    user: root
    state: absent
  with_items:
    - zabbix-hw-raid-check.sh
    - zabbix-mdstat-check.sh
    - zabbix-check-eth-settings.sh
    - zabbix-check-iptables.sh
    - zabbix-check-ro.sh
