define service {
  hostgroup_name        oneproxy
  service_description   https-admin.fedoraproject.org
  check_command         check_ssl_cert!admin.fedoraproject.org!60
  use                   defaulttemplate
}

define service {
  hostgroup_name        oneproxy
  service_description   https-fedoraproject.org-cert
  check_command         check_ssl_cert!fedoraproject.org!60
  use                   defaulttemplate
}

define service {
  hostgroup_name        oneproxy
  service_description   https-translate.fedoraproject.org-cert
  check_command         check_ssl_cert!translate.fedoraproject.org!60
  use                   defaulttemplate
}

define service {
  hostgroup_name        oneproxy
  service_description   https-whatcanidoforfedora-cert
  check_command         check_ssl_cert!whatcanidoforfedora.org!25
  use                   defaulttemplate
}

define service {
  host_name             pagure02.fedoraproject.org
  service_description   https-pagure-cert
  check_command         check_ssl_cert!pagure.io!25
  use                   defaulttemplate
}

define service {
  host_name             pagure-stg01.fedoraproject.org
  service_description   https-pagure-stg-cert
  check_command         check_ssl_cert!stg.pagure.io!25
  use                   defaulttemplate
}

# fedora coreos endpoints

define service {
  hostgroup_name        oneproxy
  service_description   https-updates-coreos-cert
  check_command         check_ssl_cert!updates.coreos.fedoraproject.org!25
  use                   defaulttemplate
}

define service {
  hostgroup_name        oneproxy
  service_description   https-raw-updates-coreos-cert
  check_command         check_ssl_cert!raw-updates.coreos.fedoraproject.org!25
  use                   defaulttemplate
}

define service {
  hostgroup_name        oneproxy
  service_description   https-status-updates-coreos-cert
  check_command         check_ssl_cert!status.updates.coreos.fedoraproject.org!25
  use                   defaulttemplate
}

define service {
  hostgroup_name        oneproxy
  service_description   https-status-raw-updates-coreos-cert
  check_command         check_ssl_cert!status.raw-updates.coreos.fedoraproject.org!25
  use                   defaulttemplate
}

# ocp4 cluster prod

define service {
  hostgroup_name        oneproxy
  service_description   https-ocp4-prod-cert
  check_command         check_ssl_cert!console-openshift-console.apps.ocp.fedoraproject.org!25
  use                   defaulttemplate
}

define service {
  hostgroup_name        oneproxy
  service_description   https-ocp4-prod-api-cert
  check_command         check_ssl_cert_otherport!api.ocp.fedoraproject.org!25!6443
  use                   defaulttemplate
}

# ocp4 cluster stg

define service {
  hostgroup_name        oneproxy-stg
  service_description   https-ocp4-stg-cert
  check_command         check_ssl_cert!console-openshift-console.apps.ocp.stg.fedoraproject.org!25
  use                   defaulttemplate
}

define service {
  hostgroup_name        oneproxy-stg
  service_description   https-ocp4-stg-api-cert
  check_command         check_ssl_cert_otherport!api.ocp.stg.fedoraproject.org!25!6443
  use                   defaulttemplate
}

define service {
  host_name             retrace.fedoraproject.org
  service_description   http-cert-retrace.fedoraproject.org
  check_command         check_ssl_cert!retrace.fedoraproject.org!25
  use                   defaulttemplate
}

define service {
  host_name             people02.fedoraproject.org
  service_description   http-cert-people.fedoraproject.org
  check_command         check_ssl_cert!fedorapeople.org!25
  use                   defaulttemplate
}
