---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: meetbot-logs
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
{% if env == 'staging' %}
      storage: 25Gi
{% else %}
      storage: 5Gi
{% endif %}
  storageClassName: ""
  volumeName: fedora-value-{{env_short}}-maubot
