{
      "__inputs": [ ],
      "__requires": [ ],
      "annotations": {
         "list": [ ]
      },
      "editable": false,
      "gnetId": null,
      "graphTooltip": 0,
      "hideControls": false,
      "id": null,
      "links": [ ],
      "refresh": "",
      "rows": [
         {
            "collapse": false,
            "collapsed": false,
            "panels": [
               {
                  "aliasColors": { },
                  "bars": false,
                  "dashLength": 10,
                  "dashes": false,
                  "datasource": "$datasource",
                  "fill": 1,
                  "gridPos": { },
                  "id": 2,
                  "legend": {
                     "alignAsTable": true,
                     "avg": false,
                     "current": true,
                     "max": false,
                     "min": false,
                     "rightSide": false,
                     "show": true,
                     "sideWidth": null,
                     "total": false,
                     "values": true
                  },
                  "lines": true,
                  "linewidth": 1,
                  "links": [ ],
                  "nullPointMode": "null",
                  "percentage": false,
                  "pointradius": 5,
                  "points": false,
                  "renderer": "flot",
                  "repeat": null,
                  "seriesOverrides": [ ],
                  "spaceLength": 10,
                  "span": 6,
                  "stack": true,
                  "steppedLine": false,
                  "targets": [
                     {
                        "expr": "sum by(os_version) (zincati_identity_os_info)",
                        "format": "time_series",
                        "intervalFactor": 2,
                        "legendFormat": "{{os_version}}",
                        "refId": "A"
                     }
                  ],
                  "thresholds": [ ],
                  "timeFrom": null,
                  "timeShift": null,
                  "title": "OS versions",
                  "tooltip": {
                     "shared": true,
                     "sort": 0,
                     "value_type": "individual"
                  },
                  "type": "graph",
                  "xaxis": {
                     "buckets": null,
                     "mode": "time",
                     "name": null,
                     "show": true,
                     "values": [ ]
                  },
                  "yaxes": [
                     {
                        "decimals": 0,
                        "format": "short",
                        "label": null,
                        "logBase": 1,
                        "max": null,
                        "min": 0,
                        "show": true
                     },
                     {
                        "format": "short",
                        "label": null,
                        "logBase": 1,
                        "max": null,
                        "min": 0,
                        "show": true
                     }
                  ]
               },
               {
                  "aliasColors": { },
                  "bars": false,
                  "dashLength": 10,
                  "dashes": false,
                  "datasource": "$datasource",
                  "fill": 1,
                  "gridPos": { },
                  "id": 3,
                  "legend": {
                     "alignAsTable": false,
                     "avg": false,
                     "current": false,
                     "max": false,
                     "min": false,
                     "rightSide": false,
                     "show": true,
                     "sideWidth": null,
                     "total": false,
                     "values": false
                  },
                  "lines": true,
                  "linewidth": 1,
                  "links": [ ],
                  "nullPointMode": "null",
                  "percentage": false,
                  "pointradius": 5,
                  "points": false,
                  "renderer": "flot",
                  "repeat": null,
                  "seriesOverrides": [ ],
                  "spaceLength": 10,
                  "span": 6,
                  "stack": false,
                  "steppedLine": false,
                  "targets": [
                     {
                        "expr": "zincati_identity_rollout_wariness != 0",
                        "format": "time_series",
                        "intervalFactor": 2,
                        "legendFormat": "{{instance}}",
                        "refId": "A"
                     }
                  ],
                  "thresholds": [ ],
                  "timeFrom": null,
                  "timeShift": null,
                  "title": "Static rollout wariness",
                  "tooltip": {
                     "shared": true,
                     "sort": 0,
                     "value_type": "individual"
                  },
                  "type": "graph",
                  "xaxis": {
                     "buckets": null,
                     "mode": "time",
                     "name": null,
                     "show": true,
                     "values": [ ]
                  },
                  "yaxes": [
                     {
                        "format": "short",
                        "label": null,
                        "logBase": 1,
                        "max": null,
                        "min": 0,
                        "show": true
                     },
                     {
                        "format": "short",
                        "label": null,
                        "logBase": 1,
                        "max": null,
                        "min": 0,
                        "show": true
                     }
                  ]
               }
            ],
            "repeat": null,
            "repeatIteration": null,
            "repeatRowId": null,
            "showTitle": true,
            "title": "Agent identity",
            "titleSize": "h6",
            "type": "row"
         },
         {
            "collapse": false,
            "collapsed": false,
            "panels": [
               {
                  "aliasColors": { },
                  "bars": false,
                  "dashLength": 10,
                  "dashes": false,
                  "datasource": "$datasource",
                  "fill": 1,
                  "gridPos": { },
                  "id": 4,
                  "legend": {
                     "alignAsTable": false,
                     "avg": false,
                     "current": false,
                     "max": false,
                     "min": false,
                     "rightSide": false,
                     "show": true,
                     "sideWidth": null,
                     "total": false,
                     "values": false
                  },
                  "lines": true,
                  "linewidth": 1,
                  "links": [ ],
                  "nullPointMode": "null",
                  "percentage": false,
                  "pointradius": 5,
                  "points": false,
                  "renderer": "flot",
                  "repeat": null,
                  "seriesOverrides": [ ],
                  "spaceLength": 10,
                  "span": 6,
                  "stack": false,
                  "steppedLine": false,
                  "targets": [
                     {
                        "expr": "quantile_over_time(0.99, (time() - zincati_update_agent_last_refresh_timestamp)[15m:])",
                        "format": "time_series",
                        "intervalFactor": 2,
                        "legendFormat": "{{instance}}",
                        "refId": "A"
                     }
                  ],
                  "thresholds": [ ],
                  "timeFrom": null,
                  "timeShift": null,
                  "title": "Agent refresh period (p99)",
                  "tooltip": {
                     "shared": true,
                     "sort": 0,
                     "value_type": "individual"
                  },
                  "type": "graph",
                  "xaxis": {
                     "buckets": null,
                     "mode": "time",
                     "name": null,
                     "show": true,
                     "values": [ ]
                  },
                  "yaxes": [
                     {
                        "format": "s",
                        "label": null,
                        "logBase": 1,
                        "max": null,
                        "min": 0,
                        "show": true
                     },
                     {
                        "format": "short",
                        "label": null,
                        "logBase": 1,
                        "max": null,
                        "min": 0,
                        "show": true
                     }
                  ]
               },
               {
                  "aliasColors": { },
                  "bars": false,
                  "dashLength": 10,
                  "dashes": false,
                  "datasource": "$datasource",
                  "fill": 1,
                  "gridPos": { },
                  "id": 5,
                  "legend": {
                     "alignAsTable": false,
                     "avg": false,
                     "current": false,
                     "max": false,
                     "min": false,
                     "rightSide": false,
                     "show": true,
                     "sideWidth": null,
                     "total": false,
                     "values": false
                  },
                  "lines": true,
                  "linewidth": 1,
                  "links": [ ],
                  "nullPointMode": "null",
                  "percentage": false,
                  "pointradius": 5,
                  "points": false,
                  "renderer": "flot",
                  "repeat": null,
                  "seriesOverrides": [ ],
                  "spaceLength": 10,
                  "span": 6,
                  "stack": false,
                  "steppedLine": false,
                  "targets": [
                     {
                        "expr": "sum by (kind) (rate(zincati_cincinnati_update_checks_errors_total[5m]))",
                        "format": "time_series",
                        "intervalFactor": 2,
                        "legendFormat": "kind: {{kind}}",
                        "refId": "A"
                     }
                  ],
                  "thresholds": [ ],
                  "timeFrom": null,
                  "timeShift": null,
                  "title": "Cincinnati client error-rate",
                  "tooltip": {
                     "shared": true,
                     "sort": 0,
                     "value_type": "individual"
                  },
                  "type": "graph",
                  "xaxis": {
                     "buckets": null,
                     "mode": "time",
                     "name": null,
                     "show": true,
                     "values": [ ]
                  },
                  "yaxes": [
                     {
                        "format": "short",
                        "label": null,
                        "logBase": 1,
                        "max": null,
                        "min": 0,
                        "show": true
                     },
                     {
                        "format": "short",
                        "label": null,
                        "logBase": 1,
                        "max": null,
                        "min": 0,
                        "show": true
                     }
                  ]
               },
               {
                  "aliasColors": { },
                  "bars": false,
                  "dashLength": 10,
                  "dashes": false,
                  "datasource": "$datasource",
                  "fill": 1,
                  "gridPos": { },
                  "id": 6,
                  "legend": {
                     "alignAsTable": true,
                     "avg": false,
                     "current": true,
                     "max": false,
                     "min": false,
                     "rightSide": false,
                     "show": true,
                     "sideWidth": null,
                     "total": false,
                     "values": true
                  },
                  "lines": true,
                  "linewidth": 1,
                  "links": [ ],
                  "nullPointMode": "null",
                  "percentage": false,
                  "pointradius": 5,
                  "points": false,
                  "renderer": "flot",
                  "repeat": null,
                  "seriesOverrides": [ ],
                  "spaceLength": 10,
                  "span": 6,
                  "stack": true,
                  "steppedLine": false,
                  "targets": [
                     {
                        "expr": "sum by (os_version) ((zincati_cincinnati_booted_release_is_deadend) + on (instance) group_left(os_version) (0*zincati_identity_os_info))",
                        "format": "time_series",
                        "intervalFactor": 2,
                        "legendFormat": {{ '"{{os_version}}"' }},
                        "refId": "A"
                     }
                  ],
                  "thresholds": [ ],
                  "timeFrom": null,
                  "timeShift": null,
                  "title": "Deadends detected",
                  "tooltip": {
                     "shared": true,
                     "sort": 0,
                     "value_type": "individual"
                  },
                  "type": "graph",
                  "xaxis": {
                     "buckets": null,
                     "mode": "time",
                     "name": null,
                     "show": true,
                     "values": [ ]
                  },
                  "yaxes": [
                     {
                        "decimals": 0,
                        "format": "short",
                        "label": null,
                        "logBase": 1,
                        "max": null,
                        "min": 0,
                        "show": true
                     },
                     {
                        "format": "short",
                        "label": null,
                        "logBase": 1,
                        "max": null,
                        "min": 0,
                        "show": true
                     }
                  ]
               }
            ],
            "repeat": null,
            "repeatIteration": null,
            "repeatRowId": null,
            "showTitle": true,
            "title": "Agent details",
            "titleSize": "h6",
            "type": "row"
         }
      ],
      "schemaVersion": 14,
      "style": "dark",
      "tags": [ ],
      "templating": {
         "list": [
            {
               "current": {
                  "text": "Prometheus",
                  "value": "Prometheus"
               },
               "hide": 0,
               "label": null,
               "name": "datasource",
               "options": [ ],
               "query": "prometheus",
               "refresh": 1,
               "regex": "",
               "type": "datasource"
            }
         ]
      },
      "time": {
         "from": "now-7d",
         "to": "now"
      },
      "timepicker": {
         "refresh_intervals": [
            "5s",
            "10s",
            "30s",
            "1m",
            "5m",
            "15m",
            "30m",
            "1h",
            "2h",
            "1d"
         ],
         "time_options": [
            "5m",
            "15m",
            "1h",
            "6h",
            "12h",
            "24h",
            "2d",
            "7d",
            "30d"
         ]
      },
      "timezone": "browser",
      "title": "Fedora CoreOS updates (Zincati)",
      "version": 0
   }