---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: prest
  labels:
    app: prest
spec:
  strategy:
    resources: {}
  replicas: 1
  test: false
  selector:
    name: prest
  template:
    metadata:
      labels:
        name: prest
        app: prest
        service: prest
      name: prest
    spec:
      containers:
      - name: prest
        image: registry.hub.docker.com/prest/prest:v1
        ports:
        - containerPort: 3000
        env:
        - name: PREST_HTTP_PORT
          value: "3000"
        - name: PREST_PG_HOST
          value: db-datanommer02.iad2.fedoraproject.org
        - name: PREST_PG_USER
          value: datanommer_ro
        - name: PREST_PG_PASS
          value: "{{ datanommer_ro_password }}"
        - name: PREST_PG_DATABASE
          value: datanommer
  triggers:
  - type: ConfigChange
