---
apiVersion: v1
kind: Secret
metadata:
  name: "aws-credentials"
  labels:
    app: "cloud-image-uploader"
stringData:
{% if env == 'staging' %}
  access_key_id: "{{fedimg_aws_stg_access_id}}"
  secret_access_key: "{{fedimg_aws_stg_secret_key}}"
{% else %}
  access_key_id: "{{fedimg_aws_prod_access_id}}"
  secret_access_key: "{{fedimg_aws_prod_secret_key}}"
{% endif %}
