{%- macro load_file(filename) %}{% include filename %}{%- endmacro -%}
---
apiVersion: v1
kind: List
metadata: {}
items:
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: cloud-image-uploader-configmap
    labels:
      app: cloud-image-uploader
  data:
    aws-config.toml: |-
      {{ lookup('template', 'config.toml', template_vars={"queue_suffix": "aws"}) | indent(6) }}
    azure-config.toml: |-
      {{ lookup('template', 'config.toml', template_vars={"queue_suffix": "azure"}) | indent(6) }}
    container-config.toml: |-
      {{ lookup('template', 'config.toml', template_vars={"queue_suffix": "containers"}) | indent(6) }}
    gcp-config.toml: |-
      {{ lookup('template', 'config.toml', template_vars={"queue_suffix": "gcp"}) | indent(6) }}
