---
apiVersion: v1
kind: Secret
metadata:
  name: "podman-credentials"
  labels:
    app: "cloud-image-uploader"
stringData:
{% if env == 'staging' %}
  fedoraproject_registry_username: "{{candidate_registry_osbs_stg_username}}"
  fedoraproject_registry_password: "{{candidate_registry_osbs_stg_password}}"
  quay_io_username: ""
  quay_io_password: ""
{% else %}
  fedoraproject_registry_username: "{{candidate_registry_osbs_prod_username}}"
  fedoraproject_registry_password: "{{candidate_registry_osbs_prod_password}}"
  quay_io_username: "{{quay_io_username}}"
  quay_io_password: "{{quay_io_password}}"
{% endif %}
