---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-image-uploader
  annotations:
    image.openshift.io/triggers: '[{"from":{"kind":"ImageStreamTag","name":"cloud-image-uploader:latest"},"fieldPath":"spec.template.spec.containers[?(@.name==\"cloud-image-uploader\")].image"}]'
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloud-image-uploader
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: cloud-image-uploader
    spec:
      volumes:
        - name: config-volume
          configMap:
            name: cloud-image-uploader-configmap
        - name: fedora-messaging-ca-volume
          secret:
            secretName: cloud-image-uploader-fedora-messaging-ca
        - name: fedora-messaging-key-volume
          secret:
            secretName: cloud-image-uploader-fedora-messaging-key
        - name: fedora-messaging-cert-volume
          secret:
            secretName: cloud-image-uploader-fedora-messaging-crt
        - name: google-cloud-key-volume
          secret:
            secretName: cloud-image-uploader-google-cloud-key
        # skopeo wants the cert and key in the same directory
        - name: registry-fedoraproject
          projected:
            sources:
            - secret:
                name: registry-fedoraproject-cert
            - secret:
                name: registry-fedoraproject-key
      containers:
        - name: cloud-image-uploader
          image: image-registry.openshift-image-registry.svc:5000/cloud-image-uploader/cloud-image-uploader:latest
          imagePullPolicy: Always
          workingDir: /srv/cloud-uploader/
          env:
            - name: AZURE_SECRET
              valueFrom:
                secretKeyRef:
                  name: azure-credentials
                  key: secret
            - name: AZURE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: azure-credentials
                  key: client_id
            - name: AZURE_TENANT
              valueFrom:
                secretKeyRef:
                  name: azure-credentials
                  key: tenant_id
            - name: AZURE_SUBSCRIPTION_ID
              valueFrom:
                secretKeyRef:
                  name: azure-credentials
                  key: subscription_id
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: access_key_id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: secret_access_key
            - name: FEDORA_REGISTRY_USER
              valueFrom:
                secretKeyRef:
                  name: podman-credentials
                  key: fedoraproject_registry_username
            - name: FEDORA_REGISTRY_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: podman-credentials
                  key: fedoraproject_registry_password
            - name: FEDORA_REGISTRY_CERT_DIR
              value: "/etc/pki/registry-fedoraproject-org/"
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: "/etc/pki/google-cloud/cloud-image-uploader-google-cloud-key"
            - name: QUAY_IO_USER
              valueFrom:
                secretKeyRef:
                  name: podman-credentials
                  key: quay_io_username
            - name: QUAY_IO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: podman-credentials
                  key: quay_io_password
          volumeMounts:
            - name: config-volume
              mountPath: /etc/fedora-messaging
              readOnly: true
            - name: fedora-messaging-ca-volume
              mountPath: /etc/pki/rabbitmq/ca
              readOnly: true
            - name: fedora-messaging-key-volume
              mountPath: /etc/pki/rabbitmq/key
              readOnly: true
            - name: fedora-messaging-cert-volume
              mountPath: /etc/pki/rabbitmq/cert
              readOnly: true
            - name: registry-fedoraproject
              mountPath: /etc/pki/registry-fedoraproject-org/
              readOnly: true
            - name: google-cloud-key-volume
              mountPath: /etc/pki/google-cloud/
              readOnly: true
