amqp_url = "amqps://{{ msg_username }}{{ env_suffix }}:@rabbitmq{{ env_suffix }}.fedoraproject.org/%2Fpubsub"

[tls]
ca_cert  = "/etc/pki/rabbitmq/{{ msg_username }}/ca.crt"
keyfile  = "/etc/pki/rabbitmq/{{ msg_username }}/{{ msg_username }}.key"
certfile = "/etc/pki/rabbitmq/{{ msg_username }}/{{ msg_username }}.crt"

[client_properties]
app = "{{ msg_appname }}{% if env == "staging" %} - {{ env }}{% endif %}"
