PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=1
Hostname={{ inventory_hostname }}
Server={{ zabbix_server }}
ServerActive={{ zabbix_server }}
ListenPort=10050
StartAgents=3
Include=/etc/zabbix/zabbix_agentd.d/*.conf
TLSConnect={{ zabbix_tls_connect }}
TLSAccept={{ zabbix_tls_accept }}
TLSPSKIdentity={{ zabbix_tls_psk_identity }}
TLSPSKFile=/etc/zabbix/fedora.psk
