# We don't want to reload twice (for each log file), so we use the sharedscripts
# option.  This means that hitcounter is run only once too (which is good).  In
# (likely impossible) situations when access.log is empty and error.log not, we
# would call hitcounter too on an empty file.
#
# Note that lighttpd server runs with max-workers, and thus we pipe the access
# logs through cronolog to the access.log.  So we send -HUP to Lighty (leads to
# file-descriptor refresh on error.log, but doesn't restart cronolog process),
# and we also send -HUP to cronolog process (which is fortunately re-started by
# Lighty/mod_accesslog).

/var/log/lighttpd/*log {
    rotate 5
    daily
    missingok
    notifempty
    compress
    delaycompress
    sharedscripts
    prerotate
        /usr/bin/copr_log_hitcounter.py /var/log/lighttpd/access.log --ignore-subnets 172.25.144.0/20 209.132.184.33/24 &>>/var/log/copr-backend/hitcounter-logrotate.log || :
    endscript
    postrotate
        /usr/bin/kill -HUP $(systemctl show --property MainPID --value lighttpd) || :
        /usr/bin/killall -HUP cronolog &>/dev/null || :
    endscript
}
