apiVersion: velero.io/v1
kind: Backup
metadata:
  name: forgejo-backups
  labels:
    velero.io/storage-location: default
  namespace: openshift-adp
spec:
  hooks: {}
  includedNamespaces:
  - forgejo
  includedResources: ['persistentvolumes']
  storageLocation: default
