apiVersion: velero.io/v1
kind: Schedule
metadata:
  name: forgejo-backup-schedule
  namespace: openshift-adp
spec:
  schedule: 0 7 * * *
  template:
    hooks: {}
    includedNamespaces:
    - forgejo
    storageLocation: default
    defaultVolumesToFsBackup: true
    ttl: 720h0m0s
