[default]
aws_access_key_id="{{ (env == 'production') | ternary(forgejo_backup_aws_access_key_id, forgejo_stg_backup_aws_access_key_id) }}"
aws_secret_access_key="{{ (env == 'production') | ternary(forgejo_backup_aws_secret_access_key, forgejo_stg_backup_aws_secret_access_key) }}"
