apiVersion: v1
kind: Secret
metadata:
  name: forgejo-pguser
  namespace: forgejo
  labels:
    postgres-operator.crunchydata.com/cluster: forgejo-ha
    postgres-operator.crunchydata.com/pguser: gitea
stringData:
  password: "{{ (env == 'production') | ternary(forgejo_postgresql_password, forgejo_stg_postgresql_password) }}"
