---
apiVersion: v1
kind: ConfigMap
metadata:
  name: valkey-config
  namespace: forgejo
data:
  valkey.conf: |
    bind 0.0.0.0
    port 6379
    cluster-enabled yes
    requirepass valkeypassword
    masterauth valkeypassword
    protected-mode no
    dir /data
    dbfilename dump.rdb
    save 900 1
    save 300 10
    save 60 10000
    logfile /data/valkey.log
