---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: sentinel
  namespace: forgejo
spec:
  serviceName: sentinel-headless
  replicas: 3
  selector:
    matchLabels:
      app: sentinel
  template:
    metadata:
      labels:
        app: sentinel
    spec:
      containers:
        - name: sentinel
          image: valkey/valkey:7.2.5
          command: ["valkey-sentinel"]
          args: ["/etc/valkey/sentinel.conf"]
          ports:
            - containerPort: 26379
              name: sentinel
          volumeMounts:
            - name: config
              mountPath: /etc/valkey/sentinel.conf
              subPath: sentinel.conf
            - name: data
              mountPath: /data
      volumes:
        - name: config
          configMap:
            name: valkey-config
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: standard
        resources:
          requests:
            storage: 100Mi
