---
apiVersion: v1
kind: Service
metadata:
  name: sentinel-headless
  namespace: forgejo
spec:
  clusterIP: None # Headless Service
  selector:
    app: sentinel
  ports:
    - name: sentinel
      port: 26379
      targetPort: 26379
