{% from "_macros.yml.j2" import common_volume_mounts, common_volumes, common_env %}
{% for toddler in poddlers_toddlers %}
---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: {{ toddler.name }}
  labels:
    app: poddlers
spec:
  replicas: {{ toddler.replicas|default(1) }}
  selector:
    app: poddlers
    deploymentconfig: {{ toddler.name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: poddlers
        deploymentconfig: {{ toddler.name }}
    spec:
      containers:
        - name: toddlers
          image: toddlers:latest
          env:
            - name: FEDORA_MESSAGING_CONF
              value: /etc/fedora-messaging/{{ toddler.name }}.toml
            {{ common_env() }}

          volumeMounts:
            {{ common_volume_mounts() }}

          livenessProbe:
            timeoutSeconds: 10
            initialDelaySeconds: 5
            periodSeconds: 60
            httpGet:
              path: "/live"
              port: 8070
          readinessProbe:
            timeoutSeconds: 10
            initialDelaySeconds: 10
            periodSeconds: 60
            httpGet:
              path: "/ready"
              port: 8070

      volumes:
        {{ common_volumes() }}

  triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - toddlers
        from:
          kind: ImageStreamTag
          name: toddlers:latest
{% endfor %}
