{% from "_macros.yml.j2" import common_volume_mounts, common_volumes, common_env %}
{% for toddler in poddlers_toddlers %}
---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: {{ toddler.name }}
  labels:
    app: poddlers
spec:
  replicas: {{ toddler.replicas|default(1) }}
  selector:
    app: poddlers
    deploymentconfig: {{ toddler.name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: poddlers
        deploymentconfig: {{ toddler.name }}
    spec:
      containers:
        - name: toddlers
          image: toddlers:latest
          env:
            - name: FEDORA_MESSAGING_CONF
              value: /etc/fedora-messaging/{{ toddler.name }}.toml
            {{ common_env() }}
            {% if toddler.name == "cleaning-packager-groups" %}
            - name: KRB5_CLIENT_KTNAME
              value: /etc/sync-group-keytabs/sync-group.keytab
            {%- endif %}

          volumeMounts:
            {{ common_volume_mounts() }}
            {% if toddler.name == "clean-packagers-groups" %}
            - name: sync-group-keytab-volume
              mountPath: /etc/sync-group-keytabs
              readOnly: true
            {% endif %}

      volumes:
        {{ common_volumes() }}
        {% if toddler.name == "clean-packagers-groups" %}
        - name: sync-group-keytab-volume
          secret:
            secretName: sync-group-keytab
        {% endif %}

  triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - toddlers
        from:
          kind: ImageStreamTag
          name: toddlers:latest
{% endfor %}
