{% macro load_file(filename) %}{% include filename %}{%- endmacro -%}
{% macro load_toddler_config(toddler) %}{% include 'fedora-messaging.toml' %}{%- endmacro -%}
---
apiVersion: v1
kind: Secret
metadata:
  name: secrets
  labels:
    app: poddlers
stringData:
  email_overrides.toml: |-
    {{ load_file('email_overrides.toml') | indent }}
{% for toddler in poddlers_toddlers %}
  {{ toddler.name }}.toml: |-
    {{ load_toddler_config(toddler) | indent }}
{% endfor %}
