[report]
{% if openqa_resultsdb_url is defined %}
resultsdb_url: {{ openqa_resultsdb_url }}
{% endif %}
{% if openqa_resultsdb_user is defined %}
resultsdb_user: {{ openqa_resultsdb_user }}
{% endif %}
{% if openqa_resultsdb_password is defined %}
resultsdb_password: {{ openqa_resultsdb_password }}
{% endif %}
{% if openqa_wikitcms_hostname is defined %}
wiki_hostname: {{ openqa_wikitcms_hostname }}
{% endif %}

[schedule]
arches: {{ openqa_compose_arches }}
