define service {
  host_name             {{ queue_rabbitmq_server }}
  service_description   Check queue {{ queue_name }}
  check_command         check_by_nrpe!check_rabbitmq_queue_{{ queue_vhost.replace("/", "") }}_{{ queue_name }}
  use                   defaulttemplate
}
