- name: IS_OPENSHIFT
  value: "1"
- name: SECRET_KEY
  value: "{{ (env == 'production')|ternary(kanban_secret_key, kanban_secret_key_stg) }}"
- name: DB_DRIVER
  value: "postgresql+psycopg2"
- name: DB_DATABASE
  value: "{{ kanban_db_name }}"
- name: DB_USER
  value: "{{ kanban_db_user }}"
- name: DB_PASSWORD
  value: "{{ (env == 'production')|ternary(kanban_db_pass, kanban_db_pass_stg) }}"
- name: DB_HOST
  value: "db01{{ env_suffix }}.iad2.fedoraproject.org"
- name: DB_PORT
  value: "5432"
