LoadPlugin network

<Plugin "network">
{% if ansible_distribution_major_version != '6' %}
    Server "log01"
{% else %}
    <Server "log01">
        ResolveInterval 14400
    </Server>
{% endif %}
</Plugin>
