---
apiVersion: network.openshift.io/v1
kind: EgressNetworkPolicy
metadata:
  name: default
spec:
  egress:
{% if not project_allow_fas_db %}
{% if env == "staging" %}
  - type: Deny
    to:
      cidrSelector: "10.3.166.34/32"
{% else %}
  - type: Deny
    to:
      cidrSelector: "10.3.163.42/32"
{% endif %}
{% endif %}
{% if not project_allow_iad2 %}
  - type: Deny
    to:
      cidrSelector: "10.0.0.0/8"
  - type: Deny
    to:
      cidrSelector: "209.132.181.0/25"
{% endif %}
  - type: Allow
    to:
      cidrSelector: "0.0.0.0/0"
