#! /bin/bash

case $RESALLOC_POOL_ID in
    *tokyo*)
        zone=jp-tok
        ;;
    *)
        echo "Can't decide what location to assign from: $RESALLOC_POOL_ID"
        exit 1
        ;;
esac

exec resalloc-ibm-cloud-list-vms \
    --token-file "{{ ibmcloud_token_file }}" \
    --zone "$zone" \
    "$@"
