{% macro aws_x86_64(max, max_starting, max_prealloc) %}
aws_x86_64_normal_{% if devel %}dev{% else %}prod{% endif %}:
    max: {{ max }}
    max_starting: {{ max_starting }}
    max_prealloc: {{ max_prealloc }}
    tags:
    - copr_builder
    - arch_x86_64
    - arch_x86_64_native
    - arch_i386
    - arch_i386_native
    - arch_i586
    - arch_i586_native
    - arch_i686
    - arch_i686_native
    - arch_armhfp
    - arch_armhfp_emulated
    - arch_s390x
    - arch_s390x_emulated
    cmd_new: "/var/lib/resallocserver/resalloc_provision/vm-aws-new --arch=x86_64"
    cmd_delete: "/var/lib/resallocserver/resalloc_provision/vm-aws-delete"
    cmd_livecheck: "/var/lib/resallocserver/resalloc_provision/vm-aws-check"
    livecheck_period: 180
    reuse_opportunity_time: 180
    reuse_max_count: 8
    reuse_max_time: 1800
{% endmacro %}

{% macro aws_aarch64(max, max_starting, max_prealloc) %}
aws_aarch64_normal_{% if devel %}dev{% else %}prod{% endif %}:
    max: {{ max }}
    max_starting: {{ max_starting }}
    max_prealloc: {{ max_prealloc }}
    tags:
    - copr_builder
    - arch_aarch64
    - arch_aarch64_native
    cmd_new: "/var/lib/resallocserver/resalloc_provision/vm-aws-new --arch=aarch64"
    cmd_delete: "/var/lib/resallocserver/resalloc_provision/vm-aws-delete"
    cmd_livecheck: "/var/lib/resallocserver/resalloc_provision/vm-aws-check"
    livecheck_period: 180
    reuse_opportunity_time: 180
    reuse_max_count: 8
    reuse_max_time: 1800
{% endmacro %}

# x86_64 hypervisors
{% if devel %}
{% for hv in ["02", "03", "04"] %}
copr_hv_x86_64_{{ hv }}:
    max: 3
    max_starting: 2
    max_prealloc: 2
    tags:
    - copr_builder
    - arch_x86_64
    - arch_x86_64_native
    - arch_i386
    - arch_i386_native
    - arch_i586
    - arch_i586_native
    - arch_i686
    - arch_i686_native
    - arch_armhfp
    - arch_armhfp_emulated
    - arch_s390x
    - arch_s390x_emulated
    cmd_new: "/var/lib/resallocserver/provision/libvirt-new --swap-vol-size 168"
    cmd_delete: "/var/lib/resallocserver/provision/libvirt-new --swap-vol-size 168"
    cmd_delete: "/var/lib/resallocserver/provision/libvirt-delete"
    cmd_livecheck: "echo TODO"
    livecheck_period: 180
    reuse_opportunity_time: 180
    reuse_max_count: 8
    reuse_max_time: 1800
{% endfor %}
{% endif %}

{% macro hw_aarch64(id, inst, max, max_starting, max_prealloc) %}
aarch64_{{ id }}_{{ inst }}:
    max: 0
    max_starting: {{ max_starting }}
    max_prealloc: {{ max_prealloc }}
{% if inst == 'prod' %}
# - 10 VCPUs
# - 80 GB SWAP
# - 24 GB RAM
# -  8 GB root partition (it's sparse qcow2, so thin-provisioning)
    cmd_new: "/var/lib/resallocserver/resalloc_provision/vm-aarch64-new --swap-vol-size 80 --cpu-count 10 --ram-size 20480"
{% else %}
# -  2 VCPUs   (default)
# - 20 GB SWAP (default)
# -  4 GB RAM  (default)
# -  8 GB root partition (it's sparse qcow2, so thin-provisioning)
    cmd_new: "/var/lib/resallocserver/resalloc_provision/vm-aarch64-new"
{% endif %}
    cmd_delete: "/var/lib/resallocserver/provision/libvirt-delete"
    tags:
    - copr_builder
    - arch_aarch64
    - arch_aarch64_native
{% endmacro %}

{{ aws_x86_64(builders.aws.x86_64[0] + builders.aws.armhfp[0],
              builders.aws.x86_64[1] + builders.aws.armhfp[1],
              builders.aws.x86_64[2] + builders.aws.armhfp[2])
}}
{{ aws_aarch64(builders.aws.aarch64[0],
               builders.aws.aarch64[1],
               builders.aws.aarch64[2])
}}

{% if env == "production" %}
{{ hw_aarch64("01", "prod", 4, 2, 4) }}
{{ hw_aarch64("02", "prod", 4, 2, 4) }}
{% elif devel %}
{{ hw_aarch64("01", "dev", 2, 2, 2) }}
{{ hw_aarch64("02", "dev", 2, 2, 2) }}
{% else %}
# No aarch64 hosts on staging for now.
{% endif %}
