---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: resultsdb-ci-listener
  labels:
    app: resultsdb-ci-listener
    build: resultsdb-ci-listener
spec:
  output:
    to:
      kind: ImageStreamTag
      name: resultsdb-ci-listener:latest
  source:
    type: Git
    git:
      uri: https://pagure.io/ci-resultsdb-listener.git
      ref: "{{ env }}"
  strategy:
    type: Source
    sourceStrategy:
      from:
        kind: ImageStreamTag
        namespace: openshift
        name: python:3.11-ubi9
  triggers:
    - type: ConfigChange
    - type: ImageChange
