---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: "resultsdb-ci-listener"
  labels:
    app: resultsdb-ci-listener
spec:
  replicas: 1
  selector:
    app: resultsdb-ci-listener
  strategy:
    type: Rolling
  template:
    metadata:
      labels:
        app: resultsdb-ci-listener
    spec:
      containers:
        - name: listener
          image: quay.io/fedora-kube-sig/resultsdb-ci-listener:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5001
          envFrom:
            - secretRef:
                name: resultsdb-ci-listener-auth
          volumeMounts:
            - name: config-volume
              mountPath: /etc/ci-resultsdb-listener
              readOnly: true
            - name: fedora-messaging-ca-volume
              mountPath: /etc/pki/rabbitmq/ca
              readOnly: true
            - name: fedora-messaging-key-volume
              mountPath: /etc/pki/rabbitmq/key
              readOnly: true
            - name: fedora-messaging-crt-volume
              mountPath: /etc/pki/rabbitmq/crt
              readOnly: true
            - name: fedora-messaging-config-volume
              mountPath: /etc/fedora-messaging
              readOnly: true
      volumes:
        - name: config-volume
          configMap:
            name: resultsdb-ci-listener-cfg
        - name: fedora-messaging-config-volume
          configMap:
            name: fedora-messaging-configmap
        - name: fedora-messaging-ca-volume
          secret:
            secretName: resultsdb-ci-listener-fedora-messaging-ca
        - name: fedora-messaging-crt-volume
          secret:
            secretName: resultsdb-ci-listener-fedora-messaging-crt
        - name: fedora-messaging-key-volume
          secret:
            secretName: resultsdb-ci-listener-fedora-messaging-key
  triggers:
    - type: ConfigChange
