---
synced_hosts:
  - proxy01.rdu3.fedoraproject.org
  - proxy02.vpn.fedoraproject.org
  - proxy03.vpn.fedoraproject.org
  - proxy04.vpn.fedoraproject.org
  - proxy05.vpn.fedoraproject.org
  - proxy06.vpn.fedoraproject.org
  - proxy09.vpn.fedoraproject.org
  - proxy09.vpn.fedoraproject.org
  - proxy10.rdu3.fedoraproject.org
  - proxy11.vpn.fedoraproject.org
  - proxy12.vpn.fedoraproject.org
  - proxy14.vpn.fedoraproject.org
  - proxy30.vpn.fedoraproject.org
  - proxy31.vpn.fedoraproject.org
  - proxy32.vpn.fedoraproject.org
  - proxy33.vpn.fedoraproject.org
  - proxy34.vpn.fedoraproject.org
  - proxy35.vpn.fedoraproject.org
  - proxy36.vpn.fedoraproject.org
  - proxy37.vpn.fedoraproject.org
  - proxy38.vpn.fedoraproject.org
  - proxy39.vpn.fedoraproject.org
  - proxy40.vpn.fedoraproject.org
  - proxy101.rdu3.fedoraproject.org
  - proxy110.rdu3.fedoraproject.org
  # - proxy01.stg.rdu3.fedoraproject.org
  # - datagrepper01.rdu3.fedoraproject.org
  # - datagrepper02.rdu3.fedoraproject.org
  # - datagrepper01.stg.rdu3.fedoraproject.org
  # - badges-web01.rdu3.fedoraproject.org
  # - badges-web02.rdu3.fedoraproject.org
  # - badges-web01.stg.rdu3.fedoraproject.org
  # - packages03.rdu3.fedoraproject.org
  # - packages04.rdu3.fedoraproject.org
  # - packages03.stg.rdu3.fedoraproject.org
  # - blockerbugs01.rdu3.fedoraproject.org
  # - blockerbugs02.rdu3.fedoraproject.org
  # - blockerbugs01.stg.rdu3.fedoraproject.org
  - value01.rdu3.fedoraproject.org
  - people01.vpn.fedoraproject.org
  - noc01.rdu3.fedoraproject.org
  - dl01.rdu3.fedoraproject.org
  - dl02.rdu3.fedoraproject.org
  - dl03.rdu3.fedoraproject.org
  - dl04.rdu3.fedoraproject.org
  - dl05.rdu3.fedoraproject.org
  - download-ib01.vpn.fedoraproject.org
  # - download-cc-rdu01.vpn.fedoraproject.org
  - sundries01.rdu3.fedoraproject.org
  # - sundries02.rdu3.fedoraproject.org
  # - sundries01.stg.rdu3.fedoraproject.org
