---
synced_hosts:
  - proxy01.iad2.fedoraproject.org
  - proxy02.vpn.fedoraproject.org
  - proxy03.vpn.fedoraproject.org
  - proxy04.vpn.fedoraproject.org
  - proxy05.vpn.fedoraproject.org
  - proxy06.vpn.fedoraproject.org
  - proxy09.vpn.fedoraproject.org
  - proxy09.vpn.fedoraproject.org
  - proxy10.iad2.fedoraproject.org
  - proxy11.vpn.fedoraproject.org
  - proxy12.vpn.fedoraproject.org
  - proxy14.vpn.fedoraproject.org
  - proxy30.vpn.fedoraproject.org
  - proxy31.vpn.fedoraproject.org
  - proxy32.vpn.fedoraproject.org
  - proxy33.vpn.fedoraproject.org
  - proxy34.vpn.fedoraproject.org
  - proxy35.vpn.fedoraproject.org
  - proxy36.vpn.fedoraproject.org
  - proxy37.vpn.fedoraproject.org
  - proxy38.vpn.fedoraproject.org
  - proxy39.vpn.fedoraproject.org
  - proxy40.vpn.fedoraproject.org
  - proxy101.iad2.fedoraproject.org
  - proxy110.iad2.fedoraproject.org
  # - proxy01.stg.iad2.fedoraproject.org
  # - datagrepper01.iad2.fedoraproject.org
  # - datagrepper02.iad2.fedoraproject.org
  # - datagrepper01.stg.iad2.fedoraproject.org
  # - badges-web01.iad2.fedoraproject.org
  # - badges-web02.iad2.fedoraproject.org
  # - badges-web01.stg.iad2.fedoraproject.org
  # - packages03.iad2.fedoraproject.org
  # - packages04.iad2.fedoraproject.org
  # - packages03.stg.iad2.fedoraproject.org
  # - blockerbugs01.iad2.fedoraproject.org
  # - blockerbugs02.iad2.fedoraproject.org
  # - blockerbugs01.stg.iad2.fedoraproject.org
  - value02.iad2.fedoraproject.org
  - people01.vpn.fedoraproject.org
  - noc01.iad2.fedoraproject.org
  - dl01.iad2.fedoraproject.org
  - dl02.iad2.fedoraproject.org
  - dl03.iad2.fedoraproject.org
  - dl04.iad2.fedoraproject.org
  - dl05.iad2.fedoraproject.org
  - download-ib01.vpn.fedoraproject.org
  #- download-cc-rdu01.vpn.fedoraproject.org
  - sundries01.iad2.fedoraproject.org
  # - sundries02.iad2.fedoraproject.org
  # - sundries01.stg.iad2.fedoraproject.org
