{% macro load_file(filename) %}{% include filename %}{%- endmacro -%}
apiVersion: build.openshift.io/v1
items:
- apiVersion: build.openshift.io/v1
  kind: BuildConfig
  metadata:
    labels:
      build: bodhi-base
    name: bodhi-base
  spec:
    runPolicy: Serial
    source:
      dockerfile: |-
        {{ load_file('dockerfile-base') | indent(8) }}
      type: Dockerfile
    strategy:
      type: Docker
      dockerStrategy:
{% if env == "staging" %}
        noCache: True
{% else %}
        noCache: False
{% endif %}
    output:
      to:
        kind: ImageStreamTag
        name: bodhi-base:latest
- apiVersion: build.openshift.io/v1
  kind: BuildConfig
  metadata:
    labels:
      build: bodhi-critpathcron
    name: bodhi-critpathcron
  spec:
    runPolicy: Serial
    source:
      dockerfile: |-
        {{ load_file('dockerfile-critpathcron') | indent(8) }}
      type: Dockerfile
    strategy:
      type: Docker
      dockerStrategy:
{% if env == "staging" %}
        noCache: True
{% else %}
        noCache: False
{% endif %}
    output:
      to:
        kind: ImageStreamTag
        name: bodhi-critpathcron:latest
kind: List
metadata: {}
