/* show content in tabs */

/* hide original tabs */
ul.hidenojs {
  display:none;
}

/* hide link in exports regulations */
.read-more { display: none; }

/* show link in formats section */
.learn-more { display: block; }

/* let's ensure this get displayed */
.shownojs { display: block; }

/* cleanup slideshow */
.slideShow { height: auto; }

ul.slides { display: inline-block; width:100%; }

.slideShow div {
    top: auto;
    left: auto;
}

ul.navigation { display: none; visibility: hidden; }

/* hiding popup images from download-options page */
div.simple_overlay { display: none; visibility: hidden; }
