#cleanSlideShow { height: auto; }

#cleanCanvas {
    top: auto;
    left: auto;
}

#hideNavg { display: none; visibility: hidden; }

.hideLink { display: none; }

/* hiding popup images from download-options page */
div.hideoverlay { display: none; visibility: hidden; }
