#wrapper
{
  overflow: visible;
}

#head, #sidebar, #nav, table#toc, h3#siteSub
{
  display: none;
}

#wrapper, #bottom, #footer
{
  padding: auto;
  background-color: #fff;
  background-image: none;
  border: 0;
}

#content
{
  margin: auto;
}

#content h3, #content h2
{
  padding-top: 10px;
  margin: 0px;
}

#content pre {
  background-color: #F9F9F9;
  border: 1px dashed #2F6FAB;
  color: black;
  line-height: 1.1em;
  padding: 1em;
  overflow: visible;
}
