html, body
{
  direction: rtl;
}

#sidebar
{
  float: right;
}

#banner img
{
  margin-left: 0;
  margin-right: 10px;
}

#nav ul
{
  list-style: url(../images/arrow-left.png);
  margin-right: 25px;
  margin-left: 0;
}

#nav li
{
  margin: 0.25ex 0;
}

#content
{
  margin-left: 0;
  margin-right: 250px;
  padding: 1ex 2ex 120px 4ex;
}

#content p
{
  margin: 1ex 0 1ex 5ex;
}

#content .download
{
  list-style-image: url(../images/arrow-left.png);
  list-style-position: outside;
  margin: 1.6ex 4.5ex 1.6ex 3ex;
}

#content .roles li
{
  float: right;
}

#screenshot-banner {
  text-align: right;
} 


#content ul.downloadbox
{
  padding: 6ex 180px 4ex 2ex;
  background: #C0DBDD 97% 50% no-repeat;
}

#content ul.installdvd { background-image: url(../images/installdvd.png); }
#content ul.gnomelive { background-image: url(../images/gnomelive.png); }
#content ul.kdelive { background-image: url(../images/kdelive.png); }

.downloadbox li
{
  float: right;
}

#content pre.command
{
  border-width: 1px 5px 1px 1px;
}

#content ul#resources li
{
  padding-right: 70px;
  padding-left: 0;
}

ul#resources li.resource-docs
{
  background: url(../images/icon-docs.png) 100% 50% no-repeat;
}

ul#resources li.resource-communicate
{
  background: url(../images/icon-communicate.png) 100% 50% no-repeat;
}

ul#resources li.resource-download
{
  background: url(../images/icon-download.png) 100% 50% no-repeat;
}

#content img.smirk
{
  margin: 0 1ex 0 0;
}

#desktop-versions {
    width: auto;
}

ul.tabs li {
    float: right;
}

ul.tabs li a {
    float: right;
    margin-right: 0;
    margin-left: 4px;
}

div.panes div {
    border-left: none;
    border-right: 1px solid #dcdcdc;
}

#optionstabs
{
    margin-right: 21em;
}
