#!/bin/bash

set -e

basename=ld-$(date +"%Y%m%d_%H%M%S").tar.gz
ld_backup_path="{{ ld_backup_path }}"
backup_path=$ld_backup_path/$basename

# Find last modified
recent=$(find "$ld_backup_path" -type f -name "ld-*tar.gz" | sort | tail -n 1)

wget -O "$backup_path" "{{ ld_dump_url }}"

# Extract both and get hashes
new=$(tar -xzf "$backup_path" -O | sha256sum)
old=$(tar -xzf "$recent" -O | sha256sum)

# Compare hashes
if [ "$new" = "$old" ]; then
  echo No changes since last backup, removing previously downloaded archive
  rm "$recent"
fi
