---
apiVersion: v1
kind: Secret
metadata:
  # name: resultsdb-frontend-key
  name: resultsdb-frontend-app-config
  labels:
    app: resultsdb
    service: web
stringData:
  settings.py: |-
    RDB_URL = '{{ resultsdb_frontend_api_url }}'
{% if env == 'staging' %}
    SECRET_KEY = '{{ stg_resultsdb_frontend_secret_key }}'
{% else %}
    SECRET_KEY = '{{ prod_resultsdb_frontend_secret_key }}'
{% endif %}
    FILE_LOGGING = False
    LOGFILE = '/var/log/resultsdb_frontend/resultsdb_frontend.log'
    SYSLOG_LOGGING = False
    STREAM_LOGGING = True
