#
# Fedora Project easyfixes
#
---
- name: Make the app be real
  # hosts: os_control_stg:os_control
  hosts: os_control_stg
  user: root
  gather_facts: false

  vars_files:
    - /srv/web/infra/ansible/vars/global.yml
    - /srv/private/ansible/vars.yml
    - /srv/web/infra/ansible/vars/{{ ansible_distribution }}.yml

  vars:

  roles:
    - role: openshift/project
      app: easyfix
      description: "Easyfixes"
      appowners:
        - abompard
      tags:
        - apply-appowners

    - role: openshift/object
      app: easyfix
      file: imagestream.yml
      objectname: imagestream.yml

    - role: openshift/object
      app: easyfix
      template: buildconfig.yml
      objectname: buildconfig.yml

    - role: openshift/object
      app: easyfix
      file: storage.yml
      objectname: storage.yml

    - role: openshift/object
      app: easyfix
      template: configmap.yml
      objectname: configmap.yml

    - role: openshift/object
      app: easyfix
      file: service.yml
      objectname: service.yml

    # Routes
    - role: openshift/route
      app: easyfix
      routename: web
      host: "easyfix.apps.ocp{{ env_suffix }}.fedoraproject.org"
      servicename: web
      serviceport: web
      annotations:
        haproxy.router.openshift.io/timeout: 5m

    - role: openshift/object
      app: easyfix
      template: deploymentconfig.yml
      objectname: deploymentconfig.yml

    # Cron jobs
    - role: openshift/object
      app: easyfix
      template: cron.yml
      objectname: cron.yml
