#
# Fedora Messaging configuration for the consumer component
#

amqp_url = "amqps://fmn{{ env_suffix }}:@rabbitmq{{ env_suffix }}.fedoraproject.org/%2Fpubsub"
callback = "fmn.consumer:Consumer"
passive_declares = true

[tls]
ca_cert = "/etc/pki/fedora-messaging/ca/cacert.pem"
certfile = "/etc/pki/fedora-messaging/crt/fmn-cert.pem"
keyfile = "/etc/pki/fedora-messaging/key/fmn-key.pem"


[client_properties]
app = "FMN consumer"

# If the exchange or queue name  has a "." in it, use quotes as seen here.
[exchanges."amq.topic"]
type = "topic"
durable = true
auto_delete = false
arguments = {}

[queues."fmn{{ env_suffix }}"]
durable = true
auto_delete = false
exclusive = false
arguments = {}

[[bindings]]
queue = "fmn{{ env_suffix }}"
exchange = "amq.topic"
routing_keys = ["#"]


[consumer_config]
settings_file = "/etc/fmn/fmn.cfg"

[consumer_config.send_queue]
amqp_url = "amqps://fmn{{ env_suffix }}:@rabbitmq{{ env_suffix }}.fedoraproject.org/%2Ffmn"

[consumer_config.send_queue.tls]
ca_cert = "/etc/pki/fedora-messaging/ca/cacert.pem"
certfile = "/etc/pki/fedora-messaging/crt/fmn-cert.pem"
keyfile = "/etc/pki/fedora-messaging/key/fmn-key.pem"


[qos]
prefetch_size = 0
prefetch_count = 25

[log_config]
version = 1
disable_existing_loggers = true

[log_config.formatters.simple]
format = "[%(asctime)s] [%(levelname)s %(name)s] %(message)s"

[log_config.handlers.console]
class = "logging.StreamHandler"
formatter = "simple"
stream = "ext://sys.stdout"

[log_config.loggers.fmn]
level = "INFO"
propagate = false
handlers = ["console"]

[log_config.loggers.fedora_messaging]
level = "INFO"
propagate = false
handlers = ["console"]

# Twisted is the asynchronous framework that manages the TCP/TLS connection, as well
# as the consumer event loop. When debugging you may want to lower this log level.
[log_config.loggers.twisted]
level = "INFO"
propagate = false
handlers = ["console"]

# AIO-Pika is the underlying AMQP client library. When debugging you may want to
# lower this log level.
[log_config.loggers.aio_pika]
level = "WARNING"
propagate = false
handlers = ["console"]

[log_config.root]
level = "ERROR"
handlers = ["console"]
