#
# FMN configuration (fmn.core.config)
#

DATABASE__SQLALCHEMY__URL="postgresql://fmn:{{ (env == 'production')|ternary(fmn_prod_db_password, fmn_stg_db_password) }}@db01{{ env_suffix }}.{{datacenter}}.fedoraproject.org/fmn"
CORS_ORIGINS="https://notifications{{ env_suffix }}.fedoraproject.org"
OIDC_PROVIDER_URL="https://id{{ env_suffix }}.fedoraproject.org/openidc"
OIDC_CONF_ENDPOINT="/.well-known/openid-configuration"
OIDC_TOKEN_INFO_ENDPOINT="/TokenInfo"
OIDC_CLIENT_ID="fmn"
# OIDC_CLIENT_SECRET is set in the environement by the deploymentconfig
SERVICES__FASJSON_URL=https://fasjson{{ env_suffix }}.fedoraproject.org
SERVICES__DISTGIT_URL=https://src{{ env_suffix }}.fedoraproject.org

# Cache settings
CACHE__URL="redis://redis.fmn.svc.cluster.local/?digestmod=sha1&socket_connect_timeout=5&socket_keepalive=True"

# Duration for the main caches
# On 2025-07-03, rebuilding the tracked cache took ~15 hours (!)
# Rebuilding the rules cache took 1 second.
CACHE__SCOPED_ARGS__TRACKED__TTL="7d"
CACHE__SCOPED_ARGS__RULES__TTL="1h"

# Duration before we trigger the early rebuild
# CACHE__SCOPED_ARGS__TRACKED__TTL="20h"
# CACHE__SCOPED_ARGS__RULES__TTL="20h"
CACHE__SCOPED_ARGS__TRACKED__TTL="5d"
CACHE__SCOPED_ARGS__RULES__TTL="50m"

# Maximum allowed duration for the cache rebuild functions
CACHE__SCOPED_ARGS__TRACKED__LOCK_TTL="20h"
CACHE__SCOPED_ARGS__RULES__LOCK_TTL="5m"
