DATABASE__SQLALCHEMY__URL="postgresql://fmn:{{ (env == 'production')|ternary(fmn_prod_db_password, fmn_stg_db_password) }}@db-datanommer01{{ env_suffix }}.iad2.fedoraproject.org/fmn2"
CORS_ORIGINS="https://fmn.apps.ocp{{ env_suffix }}.fedoraproject.org"
OIDC_PROVIDER_URL="https://id{{ env_suffix }}.fedoraproject.org/openidc"
OIDC_CONF_ENDPOINT="/.well-known/openid-configuration"
OIDC_TOKEN_INFO_ENDPOINT="/TokenInfo"
OIDC_CLIENT_ID="fmn"
# OIDC_CLIENT_SECRET is set in the environement by the deploymentconfig
SERVICES__FASJSON_URL=https://fasjson{{ env_suffix }}.fedoraproject.org
SERVICES__DISTGIT_URL=https://src{{ env_suffix }}.fedoraproject.org
