---
alt-src.stg:
  path: alt-src.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
anitya.stg:
  path: anitya.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
basset.stg:
  path: basset.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
batcave.stg:
  path: batcave.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
bodhi.stg:
  path: bodhi.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
bugzilla2fedmsg.stg:
  path: bugzilla2fedmsg.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
cbs.stg:
  path: cbs.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
centos-ci.stg:
  path: centos-ci.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
centos-stream-robosignatory.stg:
  path: centos-stream-robosignatory.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
copr-be-dev.stg:
  path: copr-be-dev.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
copr.stg:
  path: copr.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
coreos-ostree-importer.stg:
  path: coreos-ostree-importer.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
coreos.stg:
  path: coreos.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
datagrepper.stg:
  path: datagrepper.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
datanommer.stg:
  path: datanommer.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
discourse2fedmsg.stg:
  path: discourse2fedmsg.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
distrobuildsync-eln:
  path: distrobuildsync-eln.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
elections.stg:
  path: elections.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
faf.stg:
  path: faf.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
fedbadges.stg:
  path: fedbadges.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
fedocal.stg:
  path: fedocal.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
fedora-messaging-operator.stg:
  path: fedora-messaging-operator.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
fedora-messaging.stg:
  path: fedora-messaging.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
fedora-search.stg:
  path: fedora-search.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
fedora.stg:
  path: fedora.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
fmn.stg:
  path: fmn.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
fm-orchestrator.stg:
  path: fm-orchestrator.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
git-hooks:
  path: git-hooks.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
github2fedmsg.stg:
  path: github2fedmsg.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
gitlab-centos.stg:
  path: gitlab-centos.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
greenwave.stg:
  path: greenwave.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
jclinetest:
  path: jclinetest.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
joystick.stg:
  path: joystick.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
koji-centos.stg:
  path: koji-centos.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
koji.stg:
  path: koji.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
koschei.stg:
  path: koschei.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
logging.stg:
  path: logging.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
mailman3-fedmsg-plugin.stg:
  path: mailman3-fedmsg-plugin.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
mailman.stg:
  path: mailman.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
mbbox-centos.stg:
  path: mbbox-centos.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
mbs-private-queue.stg:
  path: mbs-private-queue.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
mdapi.stg:
  path: mdapi.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
mediawiki.stg:
  path: mediawiki.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
messaging-bridge.stg.fedoraproject.org:
  path: messaging-bridge.stg.fedoraproject.org.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
mirrormanager2.stg:
  path: mirrormanager2.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
monitor-gating.stg:
  path: monitor-gating.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
mts.stg:
  path: mts.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
noggin.stg:
  path: noggin.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
nuancier.stg:
  path: nuancier.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
odcs-private-queue.stg:
  path: odcs-private-queue.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
odcs.stg:
  path: odcs.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
openqa.stg:
  path: openqa.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
pagure.stg:
  path: pagure.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
pubsub_federation:
  path: pubsub_federation.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
pungi.stg:
  path: pungi.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
rabbitmq01.stg.iad2.fedoraproject.org:
  path: rabbitmq01.stg.iad2.fedoraproject.org.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
rabbitmq01.stg.phx2.fedoraproject.org:
  path: rabbitmq01.stg.phx2.fedoraproject.org.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
rabbitmq02.stg.iad2.fedoraproject.org:
  path: rabbitmq02.stg.iad2.fedoraproject.org.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
rabbitmq02.stg.phx2.fedoraproject.org:
  path: rabbitmq02.stg.phx2.fedoraproject.org.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
rabbitmq03.stg.iad2.fedoraproject.org:
  path: rabbitmq03.stg.iad2.fedoraproject.org.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
rabbitmq03.stg.phx2.fedoraproject.org:
  path: rabbitmq03.stg.phx2.fedoraproject.org.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
releng-tools.stg:
  path: releng-tools.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
resultsdb-centos.stg:
  path: resultsdb-centos.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
resultsdb.stg:
  path: resultsdb.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
retrace.stg:
  path: retrace.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
robosignatory.stg:
  path: robosignatory.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
robosign.stg:
  path: robosign.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
rpminspect.stg:
  path: rpminspect.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
sse2fedmsg.stg:
  path: sse2fedmsg.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
supybot-fedmsg.stg:
  path: supybot-fedmsg.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
tag2distrepo.stg:
  path: tag2distrepo.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
tahrir-api.stg:
  path: tahrir-api.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
tahrir.stg:
  path: tahrir.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
testing-farm.stg:
  path: testing-farm.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
the-new-hotness.stg:
  path: the-new-hotness.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
toddlers.stg:
  path: toddlers.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
ursabot:
  path: ursabot.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
waiverdb.stg:
  path: waiverdb.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
zanata2fedmsg.stg:
  path: zanata2fedmsg.stg.crt
  user: t0xic0der
  certstat:
    cstarted:
    cstopped:
    daystobt: 0
    daystodd: 0
    issuauth:
    serialno:
    stopdate:
    strtdate:
  notistat:
    done: false
    link:
    time:
