---
alt-src.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -749
    daystodd: 76
    issuauth: RabbitMQ STAGING CA
    serialno: 170603833244991530163638693876111070679
    stopdate: 2024-12-22 23:08:02
    strtdate: 2022-09-19 23:08:02
  notistat:
    done: false
    link: null
    time: null
  path: alt-src.stg.crt
  user: firmitas-automata
anitya.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 204753769238559413600154029620896716389
    stopdate: 2029-02-18 18:33:34
    strtdate: 2019-02-21 18:33:34
  notistat:
    done: false
    link: null
    time: null
  path: anitya.stg.crt
  user: firmitas-automata
batcave.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -427
    daystodd: 398
    issuauth: RabbitMQ STAGING CA
    serialno: 77913549988112712543323356743438657468
    stopdate: 2025-11-10 09:21:05
    strtdate: 2023-08-08 09:21:05
  notistat:
    done: false
    link: null
    time: null
  path: batcave.stg.crt
  user: firmitas-automata
bodhi.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 141409011850096222803695434559012671150
    stopdate: 2029-02-18 18:33:38
    strtdate: 2019-02-21 18:33:38
  notistat:
    done: false
    link: null
    time: null
  path: bodhi.stg.crt
  user: firmitas-automata
bugzilla2fedmsg.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 143157995306722889354627079063521270575
    stopdate: 2029-02-18 18:33:40
    strtdate: 2019-02-21 18:33:40
  notistat:
    done: false
    link: null
    time: null
  path: bugzilla2fedmsg.stg.crt
  user: firmitas-automata
cbs.stg:
  certstat:
    cstarted: true
    cstopped: true
    daystobt: -972
    daystodd: -147
    issuauth: RabbitMQ STAGING CA
    serialno: 116232853855075006527316422457147156441
    stopdate: 2024-05-14 11:08:19
    strtdate: 2022-02-09 11:08:19
  notistat:
    done: false
    link: null
    time: null
  path: cbs.stg.crt
  user: firmitas-automata
centos-ci.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -1960
    daystodd: 1690
    issuauth: RabbitMQ STAGING CA
    serialno: 154572105393979359397370680147016218411
    stopdate: 2029-05-25 04:29:06
    strtdate: 2019-05-28 04:29:06
  notistat:
    done: false
    link: null
    time: null
  path: centos-ci.stg.crt
  user: firmitas-automata
centos-integration.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -223
    daystodd: 602
    issuauth: RabbitMQ STAGING CA
    serialno: 281326758730450788414466592436187100359
    stopdate: 2026-06-02 10:28:20
    strtdate: 2024-02-28 10:28:20
  notistat:
    done: false
    link: null
    time: null
  path: centos-integration.stg.crt
  user: firmitas-automata
centos-stream-robosignatory.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -175
    daystodd: 650
    issuauth: RabbitMQ STAGING CA
    serialno: 18034428618428435682588210202990680625
    stopdate: 2026-07-20 10:54:13
    strtdate: 2024-04-16 10:54:13
  notistat:
    done: false
    link: null
    time: null
  path: centos-stream-robosignatory.stg.crt
  user: firmitas-automata
cloud-image-uploader.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -181
    daystodd: 644
    issuauth: RabbitMQ STAGING CA
    serialno: 114069720664568632346981115767161410491
    stopdate: 2026-07-13 23:04:37
    strtdate: 2024-04-09 23:04:37
  notistat:
    done: false
    link: null
    time: null
  path: cloud-image-uploader.stg.crt
  user: firmitas-automata
copr-be-dev.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -1923
    daystodd: 1727
    issuauth: RabbitMQ STAGING CA
    serialno: 319923408780663019510828292618917803726
    stopdate: 2029-06-30 19:31:31
    strtdate: 2019-07-03 19:31:31
  notistat:
    done: false
    link: null
    time: null
  path: copr-be-dev.stg.crt
  user: firmitas-automata
copr.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 332548902520804858329357748565659146147
    stopdate: 2029-02-18 18:33:42
    strtdate: 2019-02-21 18:33:42
  notistat:
    done: false
    link: null
    time: null
  path: copr.stg.crt
  user: firmitas-automata
coreos-ostree-importer.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -427
    daystodd: 398
    issuauth: RabbitMQ STAGING CA
    serialno: 60189974263219905362155823181578312093
    stopdate: 2025-11-10 09:21:06
    strtdate: 2023-08-08 09:21:06
  notistat:
    done: false
    link: null
    time: null
  path: coreos-ostree-importer.stg.crt
  user: firmitas-automata
coreos.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -1928
    daystodd: 1722
    issuauth: RabbitMQ STAGING CA
    serialno: 272754747915122111232529081380337743422
    stopdate: 2029-06-25 21:05:07
    strtdate: 2019-06-28 21:05:07
  notistat:
    done: false
    link: null
    time: null
  path: coreos.stg.crt
  user: firmitas-automata
datagrepper.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 172466248301387435875943964721194908545
    stopdate: 2029-02-18 18:33:45
    strtdate: 2019-02-21 18:33:45
  notistat:
    done: false
    link: null
    time: null
  path: datagrepper.stg.crt
  user: firmitas-automata
datanommer.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 223276539570322689015085647624285218629
    stopdate: 2029-02-18 18:33:46
    strtdate: 2019-02-21 18:33:46
  notistat:
    done: false
    link: null
    time: null
  path: datanommer.stg.crt
  user: firmitas-automata
discourse2fedmsg.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -175
    daystodd: 650
    issuauth: RabbitMQ STAGING CA
    serialno: 232489493284565877858180525659617931470
    stopdate: 2026-07-20 10:54:13
    strtdate: 2024-04-16 10:54:13
  notistat:
    done: false
    link: null
    time: null
  path: discourse2fedmsg.stg.crt
  user: firmitas-automata
distrobuildsync-eln:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -277
    daystodd: 548
    issuauth: RabbitMQ PRODUCTION CA
    serialno: 163079092759983697263272060028631471120
    stopdate: 2026-04-09 16:40:26
    strtdate: 2024-01-05 16:40:26
  notistat:
    done: false
    link: null
    time: null
  path: production/distrobuildsync-eln.crt
  user: firmitas-automata
elections.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 297908890618201625676490425536141320864
    stopdate: 2029-02-18 18:33:48
    strtdate: 2019-02-21 18:33:48
  notistat:
    done: false
    link: null
    time: null
  path: elections.stg.crt
  user: firmitas-automata
fedbadges.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 132540586467092245176938545795780400802
    stopdate: 2029-02-18 18:33:50
    strtdate: 2019-02-21 18:33:50
  notistat:
    done: false
    link: null
    time: null
  path: fedbadges.stg.crt
  user: firmitas-automata
fedocal.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 261879808677567953218073653789133945158
    stopdate: 2029-02-18 18:33:52
    strtdate: 2019-02-21 18:33:52
  notistat:
    done: false
    link: null
    time: null
  path: fedocal.stg.crt
  user: firmitas-automata
fedora-messaging-operator.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -175
    daystodd: 650
    issuauth: RabbitMQ STAGING CA
    serialno: 60355602186061517010937958037449349875
    stopdate: 2026-07-20 10:54:14
    strtdate: 2024-04-16 10:54:14
  notistat:
    done: false
    link: null
    time: null
  path: fedora-messaging-operator.stg.crt
  user: firmitas-automata
fedora-messaging.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 98302842754396829200843959309422717252
    stopdate: 2029-02-18 18:33:54
    strtdate: 2019-02-21 18:33:54
  notistat:
    done: false
    link: null
    time: null
  path: fedora-messaging.stg.crt
  user: firmitas-automata
fedora-search.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 173387522687404436272336807792907171660
    stopdate: 2029-02-18 18:33:56
    strtdate: 2019-02-21 18:33:56
  notistat:
    done: false
    link: null
    time: null
  path: fedora-search.stg.crt
  user: firmitas-automata
fedora.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2028
    daystodd: 1622
    issuauth: RabbitMQ STAGING CA
    serialno: 236362887851928098845954273871568076027
    stopdate: 2029-03-17 17:23:14
    strtdate: 2019-03-20 17:23:14
  notistat:
    done: false
    link: null
    time: null
  path: fedora.stg.crt
  user: firmitas-automata
fm-orchestrator.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 6905291197827542495336242789281158815
    stopdate: 2029-02-18 18:33:58
    strtdate: 2019-02-21 18:33:58
  notistat:
    done: false
    link: null
    time: null
  path: fm-orchestrator.stg.crt
  user: firmitas-automata
fmn.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -690
    daystodd: 135
    issuauth: RabbitMQ STAGING CA
    serialno: 298062573279528520273162323143375653040
    stopdate: 2025-02-20 08:36:01
    strtdate: 2022-11-18 08:36:01
  notistat:
    done: false
    link: null
    time: null
  path: fmn.stg.crt
  user: firmitas-automata
git-hooks:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -526
    daystodd: 299
    issuauth: RabbitMQ PRODUCTION CA
    serialno: 292127154797115116917240515451877285883
    stopdate: 2025-08-03 15:01:55
    strtdate: 2023-05-01 15:01:55
  notistat:
    done: false
    link: null
    time: null
  path: production/git-hooks.crt
  user: firmitas-automata
gitlab-centos.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -543
    daystodd: 282
    issuauth: RabbitMQ STAGING CA
    serialno: 226563015885039996489462152652538794982
    stopdate: 2025-07-17 08:53:42
    strtdate: 2023-04-14 08:53:42
  notistat:
    done: false
    link: null
    time: null
  path: gitlab-centos.stg.crt
  user: firmitas-automata
greenwave.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2042
    daystodd: 1608
    issuauth: RabbitMQ STAGING CA
    serialno: 291983971739147231053166013451725127398
    stopdate: 2029-03-03 23:58:56
    strtdate: 2019-03-06 23:58:56
  notistat:
    done: false
    link: null
    time: null
  path: greenwave.stg.crt
  user: firmitas-automata
jclinetest:
  certstat:
    cstarted: null
    cstopped: null
    daystobt: 0
    daystodd: 0
    issuauth: null
    serialno: null
    stopdate: null
    strtdate: null
  notistat:
    done: false
    link: null
    time: null
  path: production/jclinetest.crt
  user: firmitas-automata
joystick.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -1959
    daystodd: 1691
    issuauth: RabbitMQ STAGING CA
    serialno: 44541479035547978831580614561088909678
    stopdate: 2029-05-25 23:04:35
    strtdate: 2019-05-28 23:04:35
  notistat:
    done: false
    link: null
    time: null
  path: joystick.stg.crt
  user: firmitas-automata
kerneltest.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -204
    daystodd: 621
    issuauth: RabbitMQ STAGING CA
    serialno: 36724863638882241254072781536853146933
    stopdate: 2026-06-21 02:24:36
    strtdate: 2024-03-18 02:24:36
  notistat:
    done: false
    link: null
    time: null
  path: kerneltest.stg.crt
  user: firmitas-automata
koji.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 271285884542716770723313253003523864510
    stopdate: 2029-02-18 18:34:01
    strtdate: 2019-02-21 18:34:01
  notistat:
    done: false
    link: null
    time: null
  path: koji.stg.crt
  user: firmitas-automata
koschei.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 338047070700790963711138886520534501046
    stopdate: 2029-02-18 18:34:03
    strtdate: 2019-02-21 18:34:03
  notistat:
    done: false
    link: null
    time: null
  path: koschei.stg.crt
  user: firmitas-automata
logging.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -175
    daystodd: 650
    issuauth: RabbitMQ STAGING CA
    serialno: 176679589066770395484405675677516337750
    stopdate: 2026-07-20 10:54:14
    strtdate: 2024-04-16 10:54:14
  notistat:
    done: false
    link: null
    time: null
  path: logging.stg.crt
  user: firmitas-automata
mailman.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -749
    daystodd: 76
    issuauth: RabbitMQ STAGING CA
    serialno: 234556264538372148793923661736550859201
    stopdate: 2024-12-22 23:08:01
    strtdate: 2022-09-19 23:08:01
  notistat:
    done: false
    link: null
    time: null
  path: mailman.stg.crt
  user: firmitas-automata
mailman3-fedmsg-plugin.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 196693684120479847531919392384094738432
    stopdate: 2029-02-18 18:34:08
    strtdate: 2019-02-21 18:34:08
  notistat:
    done: false
    link: null
    time: null
  path: mailman3-fedmsg-plugin.stg.crt
  user: firmitas-automata
maubot.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -393
    daystodd: 432
    issuauth: RabbitMQ STAGING CA
    serialno: 190658461202839987415354035102647243936
    stopdate: 2025-12-14 08:07:02
    strtdate: 2023-09-11 08:07:02
  notistat:
    done: false
    link: null
    time: null
  path: maubot.stg.crt
  user: firmitas-automata
mbs-private-queue.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -526
    daystodd: 299
    issuauth: RabbitMQ STAGING CA
    serialno: 277966744717735439261291643808944503702
    stopdate: 2025-08-03 16:20:48
    strtdate: 2023-05-01 16:20:48
  notistat:
    done: false
    link: null
    time: null
  path: mbs-private-queue.stg.crt
  user: firmitas-automata
mdapi.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 301136638119310655852745726529933158539
    stopdate: 2029-02-18 18:34:10
    strtdate: 2019-02-21 18:34:10
  notistat:
    done: false
    link: null
    time: null
  path: mdapi.stg.crt
  user: firmitas-automata
mediawiki.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -749
    daystodd: 76
    issuauth: RabbitMQ STAGING CA
    serialno: 255503893128224334413388148841867992613
    stopdate: 2024-12-22 23:08:02
    strtdate: 2022-09-19 23:08:02
  notistat:
    done: false
    link: null
    time: null
  path: mediawiki.stg.crt
  user: firmitas-automata
mirrormanager.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -109
    daystodd: 716
    issuauth: RabbitMQ STAGING CA
    serialno: 46881088122486709162092595848724027497
    stopdate: 2026-09-24 09:03:50
    strtdate: 2024-06-21 09:03:50
  notistat:
    done: false
    link: null
    time: null
  path: mirrormanager.stg.crt
  user: firmitas-automata
ts.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -1875
    daystodd: 1775
    issuauth: RabbitMQ STAGING CA
    serialno: 43740373905639516673979878362579518433
    stopdate: 2029-08-17 18:14:27
    strtdate: 2019-08-20 18:14:27
  notistat:
    done: false
    link: null
    time: null
  path: mts.stg.crt
  user: firmitas-automata
noggin.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -749
    daystodd: 76
    issuauth: RabbitMQ STAGING CA
    serialno: 143095270734864356945157545223547144635
    stopdate: 2024-12-22 23:08:03
    strtdate: 2022-09-19 23:08:03
  notistat:
    done: false
    link: null
    time: null
  path: noggin.stg.crt
  user: firmitas-automata
nuancier.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 209068775949833699801370873051828148798
    stopdate: 2029-02-18 18:34:13
    strtdate: 2019-02-21 18:34:13
  notistat:
    done: false
    link: null
    time: null
  path: nuancier.stg.crt
  user: firmitas-automata
odcs-private-queue.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -1880
    daystodd: 1770
    issuauth: RabbitMQ STAGING CA
    serialno: 124965931647338701738182576283626431796
    stopdate: 2029-08-12 20:01:41
    strtdate: 2019-08-15 20:01:41
  notistat:
    done: false
    link: null
    time: null
  path: odcs-private-queue.stg.crt
  user: firmitas-automata
odcs.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 145575756355948537616422514406575113882
    stopdate: 2029-02-18 18:34:16
    strtdate: 2019-02-21 18:34:16
  notistat:
    done: false
    link: null
    time: null
  path: odcs.stg.crt
  user: firmitas-automata
openqa.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -1944
    daystodd: 1706
    issuauth: RabbitMQ STAGING CA
    serialno: 238586886581690233009536101068556188874
    stopdate: 2029-06-10 16:52:39
    strtdate: 2019-06-13 16:52:39
  notistat:
    done: false
    link: null
    time: null
  path: openqa.stg.crt
  user: firmitas-automata
pagure.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 236932756660489422125688278723582388507
    stopdate: 2029-02-18 18:34:18
    strtdate: 2019-02-21 18:34:18
  notistat:
    done: false
    link: null
    time: null
  path: pagure.stg.crt
  user: firmitas-automata
pubsub_federation:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2028
    daystodd: 1622
    issuauth: RabbitMQ PRODUCTION CA
    serialno: 336034526934608620251076614375267610295
    stopdate: 2029-03-17 17:18:17
    strtdate: 2019-03-20 17:18:17
  notistat:
    done: false
    link: null
    time: null
  path: production/pubsub_federation.crt
  user: firmitas-automata
pungi.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 299130037077692179926940213342513786881
    stopdate: 2029-02-18 18:34:20
    strtdate: 2019-02-21 18:34:20
  notistat:
    done: false
    link: null
    time: null
  path: pungi.stg.crt
  user: firmitas-automata
rabbitmq01.stg.rdu3.fedoraproject.org:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -748
    daystodd: 77
    issuauth: RabbitMQ STAGING CA
    serialno: 20352891594739796547345238604228086567
    stopdate: 2024-12-24 16:51:40
    strtdate: 2022-09-21 16:51:40
  notistat:
    done: false
    link: null
    time: null
  path: rabbitmq01.stg.rdu3.fedoraproject.org.crt
  user: firmitas-automata
rabbitmq01.stg.phx2.fedoraproject.org:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2023
    daystodd: 1627
    issuauth: RabbitMQ STAGING CA
    serialno: 103233020167276533984858577242087348284
    stopdate: 2029-03-22 21:45:11
    strtdate: 2019-03-25 21:45:11
  notistat:
    done: false
    link: null
    time: null
  path: rabbitmq01.stg.phx2.fedoraproject.org.crt
  user: firmitas-automata
rabbitmq02.stg.rdu3.fedoraproject.org:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -748
    daystodd: 77
    issuauth: RabbitMQ STAGING CA
    serialno: 195917558240625812951738884972896858588
    stopdate: 2024-12-24 16:51:46
    strtdate: 2022-09-21 16:51:46
  notistat:
    done: false
    link: null
    time: null
  path: rabbitmq02.stg.rdu3.fedoraproject.org.crt
  user: firmitas-automata
rabbitmq02.stg.phx2.fedoraproject.org:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2023
    daystodd: 1627
    issuauth: RabbitMQ STAGING CA
    serialno: 230582064876788330596289020162300191850
    stopdate: 2029-03-22 21:45:39
    strtdate: 2019-03-25 21:45:39
  notistat:
    done: false
    link: null
    time: null
  path: rabbitmq02.stg.phx2.fedoraproject.org.crt
  user: firmitas-automata
rabbitmq03.stg.rdu3.fedoraproject.org:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -748
    daystodd: 77
    issuauth: RabbitMQ STAGING CA
    serialno: 268036610499312554743685508618879344042
    stopdate: 2024-12-24 16:51:51
    strtdate: 2022-09-21 16:51:51
  notistat:
    done: false
    link: null
    time: null
  path: rabbitmq03.stg.rdu3.fedoraproject.org.crt
  user: firmitas-automata
rabbitmq03.stg.phx2.fedoraproject.org:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2023
    daystodd: 1627
    issuauth: RabbitMQ STAGING CA
    serialno: 102411301912414480379896490729447183859
    stopdate: 2029-03-22 21:45:44
    strtdate: 2019-03-25 21:45:44
  notistat:
    done: false
    link: null
    time: null
  path: rabbitmq03.stg.phx2.fedoraproject.org.crt
  user: firmitas-automata
releng-tools.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 264069196611048124295108472850383786382
    stopdate: 2029-02-18 18:34:21
    strtdate: 2019-02-21 18:34:21
  notistat:
    done: false
    link: null
    time: null
  path: releng-tools.stg.crt
  user: firmitas-automata
resultsdb-centos.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -175
    daystodd: 650
    issuauth: RabbitMQ STAGING CA
    serialno: 175960707988708051617880708754889463710
    stopdate: 2026-07-20 10:54:15
    strtdate: 2024-04-16 10:54:15
  notistat:
    done: false
    link: null
    time: null
  path: resultsdb-centos.stg.crt
  user: firmitas-automata
resultsdb-ci-listener.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -465
    daystodd: 360
    issuauth: RabbitMQ STAGING CA
    serialno: 237369266807897478389587011258097543949
    stopdate: 2025-10-02 21:45:48
    strtdate: 2023-06-30 21:45:48
  notistat:
    done: false
    link: null
    time: null
  path: resultsdb-ci-listener.stg.crt
  user: firmitas-automata
resultsdb.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2042
    daystodd: 1608
    issuauth: RabbitMQ STAGING CA
    serialno: 217010566309949704451514009473454329770
    stopdate: 2029-03-03 23:58:21
    strtdate: 2019-03-06 23:58:21
  notistat:
    done: false
    link: null
    time: null
  path: resultsdb.stg.crt
  user: firmitas-automata
resultsdb.stg-ci-listener:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -465
    daystodd: 360
    issuauth: RabbitMQ STAGING CA
    serialno: 304824151793269694232802736864565500585
    stopdate: 2025-10-02 22:03:06
    strtdate: 2023-06-30 22:03:06
  notistat:
    done: false
    link: null
    time: null
  path: resultsdb.stg-ci-listener.crt
  user: firmitas-automata
resultsdb.stg_ci_listener:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -465
    daystodd: 360
    issuauth: RabbitMQ STAGING CA
    serialno: 323361399511080803423608267972639917181
    stopdate: 2025-10-02 22:26:33
    strtdate: 2023-06-30 22:26:33
  notistat:
    done: false
    link: null
    time: null
  path: resultsdb.stg_ci_listener.crt
  user: firmitas-automata
robosign.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -1844
    daystodd: 1806
    issuauth: RabbitMQ STAGING CA
    serialno: 38988970076690016170053187069021997563
    stopdate: 2029-09-17 22:29:56
    strtdate: 2019-09-20 22:29:56
  notistat:
    done: false
    link: null
    time: null
  path: robosign.stg.crt
  user: firmitas-automata
robosignatory.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 234273718383767190504822038690269165580
    stopdate: 2029-02-18 18:34:23
    strtdate: 2019-02-21 18:34:23
  notistat:
    done: false
    link: null
    time: null
  path: robosignatory.stg.crt
  user: firmitas-automata
rpminspect.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -749
    daystodd: 76
    issuauth: RabbitMQ STAGING CA
    serialno: 131531372763080291533149743152703630961
    stopdate: 2024-12-22 23:08:05
    strtdate: 2022-09-19 23:08:05
  notistat:
    done: false
    link: null
    time: null
  path: rpminspect.stg.crt
  user: firmitas-automata
sse2fedmsg.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 185495416346801900329390062779415559569
    stopdate: 2029-02-18 18:34:26
    strtdate: 2019-02-21 18:34:26
  notistat:
    done: false
    link: null
    time: null
  path: sse2fedmsg.stg.crt
  user: firmitas-automata
supybot-fedmsg.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 329506538184070236932056438487532520819
    stopdate: 2029-02-18 18:34:28
    strtdate: 2019-02-21 18:34:28
  notistat:
    done: false
    link: null
    time: null
  path: supybot-fedmsg.stg.crt
  user: firmitas-automata
tag2distrepo.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 141463744234498359294858166919690765700
    stopdate: 2029-02-18 18:34:30
    strtdate: 2019-02-21 18:34:30
  notistat:
    done: false
    link: null
    time: null
  path: tag2distrepo.stg.crt
  user: firmitas-automata
tahrir-api.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 211148317667259267851209413478746667763
    stopdate: 2029-02-18 18:34:36
    strtdate: 2019-02-21 18:34:36
  notistat:
    done: false
    link: null
    time: null
  path: tahrir-api.stg.crt
  user: firmitas-automata
tahrir.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 110153149571113406776308571915337731565
    stopdate: 2029-02-18 18:34:32
    strtdate: 2019-02-21 18:34:32
  notistat:
    done: false
    link: null
    time: null
  path: tahrir.stg.crt
  user: firmitas-automata
testing-farm.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -1896
    daystodd: 1754
    issuauth: RabbitMQ STAGING CA
    serialno: 310889903034619794674249685376388114947
    stopdate: 2029-07-28 15:14:33
    strtdate: 2019-07-31 15:14:33
  notistat:
    done: false
    link: null
    time: null
  path: testing-farm.stg.crt
  user: firmitas-automata
the-new-hotness.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 260052961949704684286096520833517188236
    stopdate: 2029-02-18 18:34:38
    strtdate: 2019-02-21 18:34:38
  notistat:
    done: false
    link: null
    time: null
  path: the-new-hotness.stg.crt
  user: firmitas-automata
toddlers.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -749
    daystodd: 76
    issuauth: RabbitMQ STAGING CA
    serialno: 30561889511643988863149930741007898399
    stopdate: 2024-12-22 23:07:59
    strtdate: 2022-09-19 23:07:59
  notistat:
    done: false
    link: null
    time: null
  path: toddlers.stg.crt
  user: firmitas-automata
ursabot:
  certstat:
    cstarted: null
    cstopped: null
    daystobt: 0
    daystodd: 0
    issuauth: null
    serialno: null
    stopdate: null
    strtdate: null
  notistat:
    done: false
    link: null
    time: null
  path: production/ursabot.crt
  user: firmitas-automata
waiverdb.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2042
    daystodd: 1608
    issuauth: RabbitMQ STAGING CA
    serialno: 6931031601876762538483728070539648010
    stopdate: 2029-03-03 23:58:40
    strtdate: 2019-03-06 23:58:40
  notistat:
    done: false
    link: null
    time: null
  path: waiverdb.stg.crt
  user: firmitas-automata
zanata2fedmsg.stg:
  certstat:
    cstarted: true
    cstopped: false
    daystobt: -2055
    daystodd: 1595
    issuauth: RabbitMQ STAGING CA
    serialno: 1945196136913752414456737726367609933
    stopdate: 2029-02-18 18:34:41
    strtdate: 2019-02-21 18:34:41
  notistat:
    done: false
    link: null
    time: null
  path: zanata2fedmsg.stg.crt
  user: firmitas-automata
