---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: "{{firmitas_application_name}}"
  namespace: "{{firmitas_namespace}}"
spec:
  schedule: "0 0 * * 0"
  timeZone: Etc/UTC
  concurrencyPolicy: "Forbid"
  startingDeadlineSeconds: 200
  suspend: false
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            parent: "cronjob-certdownloader"
        spec:
          restartPolicy: "Never"
          initContainers:
          - name: init-container
            image: "{{ firmitas_image }}"
            command: ["sh", "/etc/firmitas/download_certificates.sh"]
          containers:
          - image: "{{ firmitas_image }}"
            name: "{{ firmitas_application_name }}"
            env:
              - name: FIRMITAS_CONFIG
                value: "/tmp/firmitas/conf/myconfig.py"
            command: ["firmitas"]
            args: ["--conffile", "/tmp/firmitas/conf/myconfig.py"]
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - "ALL"
            resources:
              limits:
                cpu: 100m
                memory: 1024Mi
              requests:
                cpu: 10m
                memory: 256Mi
            volumeMounts:
              - name: "{{ firmitas_application_name }}-configuration-secret-volume"
                mountPath: "/tmp/firmitas/conf/"
              - name: "{{ firmitas_application_name }}-volume"
                mountPath: "/tmp/firmitas/"
          volumes:
            - name: "{{ firmitas_application_name }}-configuration-secret-volume"
              secret:
                secretName: "{{ firmitas_application_name }}-configuration-secret"
            - name: "{{ firmitas_application_name }}-volume"
              persistentVolumeClaim:
                claimName: "firmitas-volume"
          terminationGracePeriodSeconds: 10
