---
apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: "{{ firmitas_project_description }}"
    openshift.io/display-name: "{{firmitas_application_name}}"
    openshift.io/requester: "{{ firmitas_requester }}"
  name: "{{ firmitas_namespace }}"
