---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ firmitas_application_name }}-configuration-secret"
  namespace: "{{ firmitas_namespace }}"
data:
  myconfig.py:
    "{{ firmitas_myconfig_py_file['content'] }}"
