---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ firmitas_namespace }}-pagure-apikey-secret"
  namespace: "{{ firmitas_namespace }}"
data:
  firmitas-pagure-apikey:
    "{{ (env == 'production')|ternary(firmitas_pagure_apikey, firmitas_stg_pagure_apikey) | b64encode }}"
  firmitas-pagure-host:
    "{{ (env == 'production')|ternary( firmitas_pagure_host, firmitas_stg_pagure_host) | b64encode }}"
