config_opts['releasever'] = '32'
config_opts['target_arch'] = 'armv7hl'
config_opts['legal_host_arches'] = ('armv7l', 'armv8l', 'aarch64')

# https://bugzilla.redhat.com/show_bug.cgi?id=1895363
config_opts['use_bootstrap'] = False

include('templates/fedora-branched.tpl')
