config_opts['target_arch'] = 'ppc64le'
config_opts['legal_host_arches'] = ('ppc64le',)

include('templates/fedora-rawhide.tpl')

# Temporary work-around for https://github.com/fedora-copr/copr/issues/3693
config_opts["bootstrap_image"] = "quay.io/copr/mock-bootstrap-overrides:fedora-43-ppc64le-2025-04-16"
