---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ fas2discourse_namespace }}-discourse-apikey-secret"
  namespace: "{{ fas2discourse_namespace }}"
data:
  fas2discourse-discourse-apikey:
    "{{ (env == 'production')|ternary(fas2discourse_discourse_apikey, fas2discourse_stg_discourse_apikey) | b64encode }}"
  fas2discourse-host:
    "{{ (env == 'production')|ternary(fas2discourse_discourse_hostname, fas2discourse_stg_discourse_hostname) | b64encode }}"
  fasjson-host:
    "{{ (env == 'production')|ternary(fas2discourse_fasjson_hostname, fas2discourse_stg_fasjson_hostname) | b64encode }}"
  fas2discourse-principal:
    "{{ (env == 'production')|ternary(fas2discourse_principal, fas2discourse_stg_principal) | b64encode }}"
