MAILTO=sysadmin-releng-members@fedoraproject.org
{% if RelEngFrozen %}
{{ '#' }}14 00 * * * apache /usr/local/bin/bodhi-automated-pushes.py
{% else %}
# disabled by kevin until we sort out releng 10114
#14 00 * * * apache /usr/local/bin/bodhi-automated-pushes.py
{% endif %}
