#! /bin/sh

start_time=$(date +%s)
output=$(copr build @copr/copr-ping https://pagure.io/copr/copr-test-sources/raw/master/f/buildtag-0-0.src.rpm)
exit_status=$?
stop_time=$(date +%s)
build_id=$(echo "$output" | grep 'Created builds:' | cut -d' ' -f3)
took=$(( stop_time - start_time ))

echo "build_id=$build_id start=$start_time stop=$stop_time took=$took exit_status=$exit_status" \
    >> "{{ ping_log }}"
