Host *
   IdentityFile ~/.ssh/id_rsa
   StrictHostKeyChecking  no
   UserKnownHostsFile /dev/null
   ServerAliveInterval 20
   ServerAliveCountMax 5
   ConnectTimeout 60

Host{% for host in groups["copr_hypervisor"] %}{{ ' ' + host }}{% endfor +%}
  AddressFamily inet
