vcl 4.0;

import std;
import directors;

#
# These nets/machines are allowed /repo access
#
acl repoallowed {
  "10.16.0.0"/24;
  "10.16.161.0"/24;
  "10.16.162.0"/24;
  "10.16.163.0"/24;
  "10.16.164.0"/24;
  "10.16.165.0"/24;
  "10.16.166.0"/24;
  "10.16.167.0"/24;
  "10.16.168.0"/24;
  "10.16.169.0"/24;
  "10.16.170.0"/24;
  "10.16.171.0"/24;
  "10.16.172.0"/24;
  "10.16.173.0"/24;
  "10.16.174.0"/24;
  "10.16.175.0"/24;
  "10.16.176.0"/24;
  "10.16.177.0"/24;
}

acl purge {
  "127.0.0.1"/32;
}

backend localapache { 
  .host = "127.0.0.1"; 
  .port = "8080";
  .first_byte_timeout = 60s;
  .between_bytes_timeout = 60s;
  .probe = { 
      .url = "/"; 
      .interval = 5s; 
      .timeout = 5s;
      .window = 5;
      .threshold = 3; }
}

sub vcl_recv {
    # This gets arround the silly, ::1 that Apache adds on the proxies (still need to look at that)
    set req.http.X-Forwarded-For = regsub(req.http.X-Forwarded-For, "^([a-f0-9:.]+), .+$", "\1");

    set req.backend_hint = localapache;
    unset req.http.cookie;
    set req.http.clear-cookies = "yes";

    if (req.method == "PURGE") {
        if (!client.ip ~ purge) {
            return (synth(405, "Not allowed"));
        }
        return(purge);
    }

    if (req.url ~ "^/repo/" && !(std.ip(req.http.X-Forwarded-For, "0.0.0.0") ~ repoallowed)) {
        return(synth(403, "Access denied."));
    }
    if (req.url ~ "^/mash/") {
        return (pipe);
    }
    if (req.url ~ "^/compose/") {
        return (pipe);
    }
    if (req.url ~ "h264") {
        return (pipe);
    }
    if (req.url ~ "^/mass-rebuild/") {
        return (pipe);
    }
    if (req.url ~ "/repomd.xml") {
        return (pipe);
    }

    # Rewrite toplink URLs to improve cache hit ratio
    # See: https://pagure.io/fedora-infrastructure/issue/7383
    set req.url = regsub(req.url, "^/repos/[^/]+/[^/]+/[^/]+/toplink/", "/");

    return (hash);
}
