---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: packager-dashboard
spec:
  lookupPolicy:
    local: false
status:
  dockerImageRepository: ""
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: packager-dashboard-redis
spec:
  tags:
  - name: latest
    from:
      kind: DockerImage
      # docker.io should be okay as bitnami is verified publisher and doesn't undergo rate-limiting
      name: docker.io/bitnami/redis:latest
    importPolicy:
      scheduled: true
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: oraculum-frontend
spec:
  lookupPolicy:
    local: false
  tags:
  - name: latest
    from:
      kind: ImageStreamTag
      name: oraculum-frontend
status:
  dockerImageRepository: ""
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: packager-dashboard-frontend
spec:
  tags:
  - name: latest
    from:
      kind: DockerImage
      name: quay.io/fzatlouk/packager-dashboard:latest
