---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: testdays
    service: testdaysN
  name: testdays
  annotations:
    image.openshift.io/triggers: >-
      [{"from":{"kind":"ImageStreamTag","name":"testdays:latest","namespace":"testdays"},"fieldPath":"spec.template.spec.containers[?(@.name==\"testdays\")].image","pause":"false"}]
spec:
  replicas: 1
  selector:
    matchLabels:
      app: testdays
      service: testdaysN
  template:
    metadata:
      labels:
        app: testdays
        service: testdaysN
    spec:
      containers:
      - name: testdays
        image: image-registry.openshift-image-registry.svc:5000/testdays/testdays:latest
        ports:
        - containerPort: 8080
        resources: {}
        env:
        - name: POSTGRESQL_USER
          value: "{{ testdays_db_user }}"
        - name: POSTGRESQL_PASSWORD
          value: "{{ testdays_db_pass }}"
        - name: POSTGRESQL_DATABASE
          value: "{{ testdays_db_name }}"
        - name: POSTGRESQL_SERVICE_HOST
          value: "db01{{ env_suffix }}.iad2.fedoraproject.org"
        - name: POSTGRESQL_SERVICE_PORT
          value: "5432"
        - name: SECRET_KEY
          value: "{{ testdays_secret_key }}"
        - name: RESULTSDB_URL
          value: "http://resultsdb.testdays.svc.cluster.local:8080/api/v2.0"
        - name: OPENSHIFT_PROD
          value: "1"
        - name: IS_OPENSHIFT
          value: "1"
        readinessProbe:
          timeoutSeconds: 1
          initialDelaySeconds: 5
          httpGet:
            path: /
            port: 8080
        livenessProbe:
          timeoutSeconds: 1
          initialDelaySeconds: 30
          httpGet:
            path: /
            port: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: resultsdb
    service: resultsdbN
  name: resultsdb
  annotations:
    image.openshift.io/triggers: >-
      [{"from":{"kind":"ImageStreamTag","name":"resultsdb:latest","namespace":"testdays"},"fieldPath":"spec.template.spec.containers[?(@.name==\"resultsdb\")].image","pause":"false"}]
spec:
  replicas: 1
  selector:
    matchLabels:
      app: resultsdb
      service: resultsdbN
  template:
    metadata:
      labels:
        app: resultsdb
        service: resultsdbN
    spec:
      containers:
      - name: resultsdb
        image: image-registry.openshift-image-registry.svc:5000/testdays/resultsdb:latest
        ports:
        - containerPort: 8080
        resources: {}
        env:
        - name: POSTGRESQL_USER
          value: "{{ resultsdb_testdays_db_user }}"
        - name: POSTGRESQL_PASSWORD
          value: "{{ resultsdb_testdays_db_pass }}"
        - name: POSTGRESQL_DATABASE
          value: "{{ resultsdb_testdays_db_name }}"
        - name: POSTGRESQL_SERVICE_HOST
          value: "db01{{ env_suffix }}.iad2.fedoraproject.org"
        - name: POSTGRESQL_SERVICE_PORT
          value: "5432"
        - name: SECRET_KEY
          value: "{{ resultsdb_testdays_secret_key }}"
        - name: OPENSHIFT_PROD
          value: "1"
        readinessProbe:
          timeoutSeconds: 1
          initialDelaySeconds: 5
          httpGet:
            path: /
            port: 8080
        livenessProbe:
          timeoutSeconds: 1
          initialDelaySeconds: 30
          httpGet:
            path: /
            port: 8080
