---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: blockerbugs
spec:
  lookupPolicy:
    local: false
status:
  dockerImageRepository: ""
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: qa-landing
spec:
  lookupPolicy:
    local: false
  tags:
  - name: latest
    from:
      kind: ImageStreamTag
      name: qa-landing
status:
  dockerImageRepository: ""
