#
# Propagation checks
#
{% from "_macros.yml.j2" import common_volume_mounts, common_volumes, common_env, security_context with context %}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: propagation-check-current
spec:
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  schedule: "27 */4 * * *"
  startingDeadlineSeconds: 500
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: mirrormanager
              image: image-registry.openshift-image-registry.svc:5000/mirrormanager/mirrormanager2:latest
              command:
                - "/opt/app-root/bin/mm2_crawler"
                - "--threads"
                - "50"
                - "propagation"
              env:
                {{ common_env() | indent(4) }}
              volumeMounts:
                {{ common_volume_mounts() | indent(4) }}

          volumes:
            {{ common_volumes() | indent(4) }}

---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: propagation-check-centos-9
spec:
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  schedule: "44 */4 * * *"
  startingDeadlineSeconds: 500
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: mirrormanager
              image: image-registry.openshift-image-registry.svc:5000/mirrormanager/mirrormanager2:latest
              command:
                - "/opt/app-root/bin/mm2_crawler"
                - "--threads"
                - "50"
                - "propagation"
                - "--product"
                - "CentOS"
                - "--version"
                - "9-stream"
              env:
                {{ common_env() | indent(4) }}
              volumeMounts:
                {{ common_volume_mounts() | indent(4) }}
          volumes:
            {{ common_volumes() | indent(4) }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: propagation-expire-stats
spec:
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  schedule: "10 2,18 * * *"
  startingDeadlineSeconds: 500
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: mirrormanager
              image: image-registry.openshift-image-registry.svc:5000/mirrormanager/mirrormanager2:latest
              command:
                - "/opt/app-root/bin/mm2_expire-stats"
              env:
                {{ common_env() | indent(4) }}
              volumeMounts:
                {{ common_volume_mounts() | indent(4) }}
          volumes:
            {{ common_volumes() | indent(4) }}
