{% from "_macros.yml.j2" import common_volume_mounts, common_volumes, common_env %}

# Staging can't talk to the prod proxies in the mirrorlist_proxies group
{% if env == "production" %}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: mirrorlist-statistics
spec:
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  schedule: "4 */2 * * *"
  startingDeadlineSeconds: 500
  suspend: false
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: mirrormanager
              image: image-registry.openshift-image-registry.svc:5000/mirrormanager/mirrormanager2:latest
              command: ["bash", "/opt/scripts/create_statistics.sh"]
              env:
                {{ common_env() | indent(4) }}
              volumeMounts:
                {{ common_volume_mounts(with_ssh=True) | indent(4) }}
          volumes:
            {{ common_volumes(with_ssh=True) | indent(4) }}

{% endif %}
---
## Also include stats from the previous day
apiVersion: batch/v1
kind: CronJob
metadata:
  name: mirrorlist-statistics-yesterday
spec:
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  schedule: "55 0 * * *"
  startingDeadlineSeconds: 500
  suspend: false
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: mirrormanager
              image: image-registry.openshift-image-registry.svc:5000/mirrormanager/mirrormanager2:latest
              command: ["bash", "/opt/scripts/create_statistics.sh", "yesterday"]
              env:
                {{ common_env() | indent(4) }}
              volumeMounts:
                {{ common_volume_mounts(with_ssh=True) | indent(4) }}
          volumes:
            {{ common_volumes(with_ssh=True) | indent(4) }}
