{% from "_macros.yml.j2" import common_volume_mounts, common_volumes, common_env, security_context with context %}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: update-mirrorlist-cache
spec:
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  schedule: "0,15,30,45 * * * *"
  startingDeadlineSeconds: 500
  suspend: false
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: mirrormanager
              image: image-registry.openshift-image-registry.svc:5000/mirrormanager/mirrormanager2:latest
              command: ["bash", "/opt/scripts/update-mirrorlist-cache.sh"]
              env:
                {{ common_env() | indent(4) }}
              volumeMounts:
                {{ common_volume_mounts(with_ssh=True) | indent(4) }}
          volumes:
            {{ common_volumes(with_ssh=True) | indent(4) }}
          {{ security_context() | indent(4) }}
---
# Sync netblocks list once a day
apiVersion: batch/v1
kind: CronJob
metadata:
  name: netblocks-global
spec:
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  schedule: "30 0 * * *"
  startingDeadlineSeconds: 500
  suspend: false
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: mirrormanager
              image: image-registry.openshift-image-registry.svc:5000/mirrormanager/mirrormanager2:latest
              command: ["mm2_get-netblocks", "--debug", "global", "/var/cache/mirrorlist/global_netblocks.txt"]
              env:
                {{ common_env() | indent(4) }}
              volumeMounts:
                {{ common_volume_mounts() | indent(4) }}
          volumes:
            {{ common_volumes() | indent(4) }}
          {{ security_context() | indent(4) }}
---
# Amazon EC2 netblocks
apiVersion: batch/v1
kind: CronJob
metadata:
  name: netblocks-ec2
spec:
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  schedule: "30 1 * * *"
  startingDeadlineSeconds: 500
  suspend: false
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: mirrormanager
              image: image-registry.openshift-image-registry.svc:5000/mirrormanager/mirrormanager2:latest
              command: ["mm2_update-EC2-netblocks"]
              volumeMounts:
                - name: config
                  mountPath: "/etc/mirrormanager"
                  readOnly: true
          volumes:
            - name: config
              configMap:
                name: config
