max_propagation_days = 2
max_stale_days = 3
excludes=[".*\\.snapshot", ".*/\\.~tmp~"]
skip_paths_for_version=["pub/alt", "pub/archive"]
test_paths=["/test/", "/stage/"]
skip_repository_paths = ["Cloud", "Workstation", "Server", "drpms", "releases/test" ]
do_not_display_paths = ["_Beta"]

[database]
{% if env == 'staging' %}
url="postgresql://{{ mirrormanager_stg_db_user }}:{{ mirrormanager_stg_db_pass }}@{{ mirrormanager_db_host }}/{{ mirrormanager_stg_db_name }}"
{% else %}
url="postgresql://{{ mirrormanager_db_user }}:{{ mirrormanager_db_pass }}@{{ mirrormanager_db_host }}/{{ mirrormanager_db_name }}"
{% endif %}

### EPEL ###

[[category]]
name="Fedora EPEL"
type="directory"
url="/srv/pub/epel/"

[[repository_mapping]]
regex="^pub/epel/testing/\\d+(?:\\.\\d+)?/Everything/"
prefix="testing-epel"

[[repository_mapping]]
regex="^pub/epel/\\d+(?:\\.\\d+)?/Everything/"
prefix="epel"

[[repository_mapping]]
regex="pub/epel/[\\d]/Modular/.*"
prefix="epel-modular"

[[repository_mapping]]
regex="pub/epel/testing/next/[\\d]/Everything/.*"
prefix="epel-testing-next"

[[repository_mapping]]
regex="pub/epel/next/[\\d]/Everything/.*"
prefix="epel-next"

[[repository_mapping]]
regex="pub/epel/playground/[\\d]/Everything/.*"
prefix="epel-playground"

[[repository_mapping]]
regex="pub/epel/testing/[\\d]/Modular/.*"
prefix="testing-modular-epel"

[[repository_aliases]]
from="testing-modular-epel-debug-"
to="testing-modular-debug-epel"

# The following repository_aliases are only necessary for EPEL
# because it has some unusual repository names.

[[repository_aliases]]
from="epel-playground-"
to="playground-epel"

[[repository_aliases]]
from="epel-playground-debug-"
to="playground-debug-epel"

[[repository_aliases]]
from="epel-playground-source-"
to="playground-source-epel"

[[repository_aliases]]
from="testing-modular-epel-source-"
to="testing-modular-source-epel"

[[repository_aliases]]
from="testing-epel-debug-"
to="testing-debug-epel"

[[repository_aliases]]
from="testing-epel-source-"
to="testing-source-epel"

[[repository_aliases]]
from="testing-epel-"
to="testing-epel"

[[repository_aliases]]
from="testing-modular-epel-"
to="testing-modular-epel"

### Codecs ###

[[category]]
name="Fedora Codecs"
type="directory"
url="/srv/codecs.fedoraproject.org/"

[[repository_mapping]]
regex="codecs.fedoraproject.org/openh264/[\\d]+/.*"
prefix="fedora-cisco-openh264"

[[repository_mapping]]
regex="codecs.fedoraproject.org/openh264/epel/[\\d]+/.*"
prefix="epel-cisco-openh264"

### Fedora Archive ###

[[category]]
name="Fedora Archive"
type="directory"
url="/srv/pub/archive/"

[[repository_mapping]]
regex="^pub/archive/fedora(-secondary)?(/linux)?/(core|releases|development)/([\\.\\d]+)/[^ME].*"
prefix="fedora"

[[repository_mapping]]
regex="^pub/(archive/)?fedora(-secondary)?(/linux)?/updates/[\\.\\d]+/Everything/.*"
prefix="updates-released"
version_prefix="f"

[[repository_mapping]]
regex="^pub/(archive/)?fedora(-secondary)?(/linux)?/updates/[\\.\\d]+/Modular/.*"
prefix="updates-released-modular"
version_prefix="f"

[[repository_mapping]]
regex="^pub/(archive/)?fedora(-secondary)?(/linux)?/updates/testing/[\\.\\d]+/Everything/.*"
prefix="updates-testing"
version_prefix="f"

[[repository_mapping]]
regex="^pub/(archive/)?fedora(-secondary)?(/linux)?/updates/testing/[\\.\\d]+/Modular/.*"
prefix="updates-testing-modular"
version_prefix="f"

# EPEL
[[repository_mapping]]
regex="pub/archive/epel/testing/[\\d]+/Modular/.*"
prefix="testing-modular-epel"

[[repository_aliases]]
from="testing-modular-epel-debug-"
to="testing-modular-debug-epel"

# pre modular structure
[[repository_mapping]]
regex="^pub/archive/fedora(-secondary)?(/linux)?/updates/testing/([\\.\\d]+)/[^ME].*"
prefix="updates-testing"
version_prefix="f"

[[repository_mapping]]
regex="^pub/archive/fedora(-secondary)?(/linux)?/updates/([\\.\\d]+)/[^ME].*"
prefix="updates-released"
version_prefix="f"

### Fedora Secondary Arches ###

[[category]]
name="Fedora Secondary Arches"
type="directory"
url="/srv/pub/fedora-secondary/"

[[repository_mapping]]
regex="^pub/(archive/)?fedora(-secondary)?(/linux)?/(releases|development)/([\\.\\d]+)/Everything/.*"
prefix="fedora"

[[repository_mapping]]
regex="^pub/(archive/)?fedora(-secondary)?(/linux)?/(releases|development)/([\\.\\d]+)/Modular/.*"
prefix="fedora-modular"

[[repository_mapping]]
regex="^pub/(archive/)?fedora(-secondary)?(/linux)?/development/rawhide/Everything/.*"
prefix="rawhide"

[[repository_mapping]]
regex="^pub/(archive/)?fedora(-secondary)?(/linux)?/development/rawhide/Modular/.*"
prefix="rawhide-modular"
