common_rsync_options="--no-motd --timeout 14400"
max_propagation_days = 0
max_stale_days = 0
excludes=[".*\\.snapshot", ".*/\\.~tmp~"]

[database]
{% if env == 'staging' %}
url="postgresql://{{ mirrormanager_stg_db_user }}:{{ mirrormanager_stg_db_pass }}@{{ mirrormanager_db_host }}/{{ mirrormanager_stg_db_name }}"
{% else %}
url="postgresql://{{ mirrormanager_db_user }}:{{ mirrormanager_db_pass }}@{{ mirrormanager_db_host }}/{{ mirrormanager_db_name }}"
{% endif %}

[[category]]
name="CentOS"
type="rsync"
url="rsync://mref1-priv.iad2.centos.org/CentOS-Stream-Ref"
checksum_base="http://mref1-priv.iad2.centos.org/"

[[repository_mapping]]
regex="^\\d+(?:-stream)?/AppStream/"
prefix="centos-appstream"

[[repository_mapping]]
regex="^\\d+(?:-stream)?/BaseOS/"
prefix="centos-baseos"

[[repository_mapping]]
regex="^\\d+(?:-stream)?/CRB/"
prefix="centos-crb"

[[repository_mapping]]
regex="^\\d+(?:-stream)?/HighAvailability/"
prefix="centos-highavailability"

[[repository_mapping]]
regex="^\\d+(?:-stream)?/NFV/"
prefix="centos-nfv"

[[repository_mapping]]
regex="^\\d+(?:-stream)?/RT/"
prefix="centos-rt"

[[repository_mapping]]
regex="^\\d+(?:-stream)?/ResilientStorage/"
prefix="centos-resilientstorage"

[[repository_mapping]]
regex="^SIGs/\\d+(?:-stream)?/(?P<signame>\\S+?)/(?P<arch>\\S+?)/(?P<sigrepo>[^\\s/]+)(/?.*)"
prefix="centos-${signame}-sig-${sigrepo}"
